<div class="section" id="section-obecne-info">
    <div class="header bg-l-gray">
        <div class="title float-left">Objednávka {{ objednavka.id }}</div>
        <div id="state" class="header-info {{ stavCls }} float-right border-left"><span id="state-info">{{ stavString|capitalize }} ({{ objednavka.calcFinalniCenaObjednavky|number_format(0, ',', ' ') }} Kè)</span></div>
        <div class="clearfix"></div>
    </div>
    <div class="block-thick">
        <div class="column" id="column-img"><img src="{{ SLANTOUR_PHOTO_NAHLED_URL ~ objednavka.serial.mainFoto.url }}" alt="foto serialu"></div>
        <div class="column" id="column-info">
            <div class="row"><span class="title obecne-title">Zájezd</span><span class="value" title="{{ objednavka.serial.constructNazev ~ ', id seriál: ' ~ objednavka.serial.id ~ ', id zájezd: ' ~ objednavka.zajezd.id }}">{{ objednavka.serial.constructNazev|truncate(60) }}</span><span class="btn-square btn-medium btn-pink icon-edit btn-dark offset-left-5" id="btn-edit-serial"></span></div>
            <div class="row"><span class="title obecne-title">Období</span><span class="value">{{ objednavka.zajezd.terminOd|date("j.n. Y") }} - {{ objednavka.zajezd.terminDo|date("j.n. Y") }}</span></div>
            {% if objednavka.serial.dlouhodobe_zajezdy %}
                <div class="row small-space"><span class="title obecne-title">Termín</span><input type="text" name="obecne-info-termin" class="trans-400-lin" id="datepicker" autocomplete="off" readonly="" value="{{ objednavka.termin_od is null ? 'neupøesnìn' : objednavka.termin_od|date("j.n. Y") ~ ' - ' ~ objednavka.termin_do|date("j.n. Y") }}"><span class="value"></span><input type="button" class="calendar-ico dark off-l-15" id="btn-termin"/></div>
            {% endif %}
            <div class="row"><span class="title obecne-title">Poèet nocí</span><span class="value">{{ objednavka.pocet_noci }}</span></div>
            <div class="row"><span class="title obecne-title">Opce do</span><span class="value">{{ objednavka.datum_rezervace|date("j.n. Y") }}</span></div>
        </div>
        <div class="column" id="column-ts">
            <div class="row"><span class="title">Tiskové sestavy</span></div>
            <div class="row">
                <p>
                    <a class="ts" target="_blank" href="ts_objednavka.php?id_objednavka={{ objednavka.id }}&security_code={{ objednavka.security_code }}&type=cestovni_smlouva">cestovní smlouva</a>,
                    <a class="ts" target="_blank" href="ts_objednavka.php?id_objednavka={{ objednavka.id }}&security_code={{ objednavka.security_code }}&type=potvrzeni">potvrzení objednávky</a>,
                    <a class="ts" target="_blank" href="ts_objednavka.php?id_objednavka={{ objednavka.id }}&security_code={{ objednavka.security_code }}&type=potvrzeni_prodejce">potvrzení objednávky prodejci</a>,
                    <a class="ts" target="_blank" href="vouchery_objednavka.php?page=edit-voucher&id_objednavka={{ objednavka.id }}&security_code={{ objednavka.security_code }}">voucher</a>,
                    <a class="ts" target="_blank" href="platebni_doklad.php?page=edit&id_objednavka={{ objednavka.id }}">platební doklad</a>,
                    <a class="ts" target="_blank" href="faktury.php?id_objednavka={{ objednavka.id }}&typ=faktury&pozadavek=new">nová faktura</a>,
                    <a class="ts" target="_blank" href="ts_objednavka.php?id_objednavka={{ objednavka.id }}&security_code={{ objednavka.security_code }}&type=storno_klient">storno klienta</a>,
                    <a class="ts" target="_blank" href="ts_objednavka.php?id_objednavka={{ objednavka.id }}&security_code={{ objednavka.security_code }}&type=storno_ck">storno CK</a>
                </p>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>