{# toggle section #}
{% set toggleSectionClass = SECTION_OBJEDNAVKA_EDIT_BLOCK_POZNAMKY_TS in toggleSekce ? 'toggleOpen' : 'toggleClosed' %}

<div class="section" id="section-poznamky-ts" >
    <div class="header toggle bg-l-gray">
        <span class="btn-toggle trans-200-eio">»</span><div class="title">Poznámky / Tiskové sestavy</div>
    </div>
    <div class="block-thick {{ toggleSectionClass }}" id="block-poznamky-ts">
        <div class="row">
            <span class="poznamky-ts-actions"><input type="button" id="btn-ts-poznamky" value="Upravit"/></span>
            <span class="title poznamky-ts-title">Poznámky</span>
            <span class="value" title="{{ objednavka.poznamky }}">{{ objednavka.poznamky|truncate(85) }}</span>
        </div>
        <div class="row">
            <span class="poznamky-ts-actions"><input type="button" id="btn-ts-tajne-poznamky" value="Upravit"/></span>
            <span class="title poznamky-ts-title">Tajné poznámky</span>
            <span class="value" title="{{ objednavka.poznamky_tajne }}">{{ objednavka.poznamky_tajne|truncate(85) }}</span>
        </div>
        <div class="row">
            <span class="poznamky-ts-actions"><input type="button" id="btn-ts-doprava-cs" value="Upravit"/></span>
            <span class="title poznamky-ts-title">Doprava (cest. smlouva)</span>
            <span class="value" title="{{ objednavka.doprava }}">{{ objednavka.doprava|truncate(85) }}</span>
        </div>
        <div class="row">
            <span class="poznamky-ts-actions"><input type="button" id="btn-ts-stravovani-cs" value="Upravit"/></span>
            <span class="title poznamky-ts-title">Stravování (cest. smlouva)</span>
            <span class="value" title="{{ objednavka.stravovani }}">{{ objednavka.stravovani|truncate(85) }}</span>
        </div>
        <div class="row">
            <span class="poznamky-ts-actions"><input type="button" id="btn-ts-ubytovani-cs" value="Upravit"/></span>
            <span class="title poznamky-ts-title">Ubytování (cest. smlouva)</span>
            <span class="value" title="{{ objednavka.ubytovani }}">{{ objednavka.ubytovani|truncate(85) }}</span>
        </div>
        <div class="row">
            <span class="poznamky-ts-actions"><input type="button" id="btn-ts-pojisteni-cs" value="Upravit"/></span>
            <span class="title poznamky-ts-title">Pojištìní (cest. smlouva)</span>
            <span class="value" title="{{ objednavka.pojisteni }}">{{ objednavka.pojisteni|truncate(85) }}</span>
        </div>
        <div class="row">
            <span class="poznamky-ts-actions"><input type="button" id="btn-ts-k-uhrade-zaloha" value="Upravit"/></span>
            <span class="title poznamky-ts-title">K úhradì záloha (cest. smlouva)</span>
            <span class="value" title="">{{ kUhradeZalohaCatka|number_format(0, ',', ' ') }} Kè, {{ kUhradeZalohaDatum }}</span>
        </div>
        <div class="row">
            <span class="poznamky-ts-actions"><input type="button" id="btn-ts-k-uhrade-doplatek" value="Upravit"/></span>
            <span class="title poznamky-ts-title">K úhradì doplatek (cest. smlouva)</span>
            <span class="value" title="">{{ kUhradeDoplatekDatum }}</span>
        </div>
        <div class="row">
            <span class="poznamky-ts-actions"><input type="button" id="btn-ts-k-uhrade-celkem" value="Upravit"/></span>
            <span class="title poznamky-ts-title">K úhradì celkem (cest. smlouva)</span>
            <span class="value" title="">{{ kUhradeCelkemDatum }}</span>
        </div>
    </div>
</div>