<div id="module-data" data-id-objednavka="{{ objednavka.id }}"></div>

{% include 'partials/actions.html.twig' %}

{% if objednavka is null %}

    <h2 class="red">Objednávka s tímto ID neexistuje</h2>

{% else %}

    {% include 'partials/obecne-info.html.twig' %}
    {% include 'partials/osoby-organizace.html.twig' %}

    <div class="section" id="section-sluzby-slevy">
        {% include 'partials/sluzby.html.twig' %}
        {% include 'partials/slevy.html.twig' %}
        <div class="clearfix"></div>
    </div>

    {% include 'partials/finance.html.twig' %}
    {% include 'partials/poznamky-ts.html.twig' with {
        'kUhradeZalohaCatka': kUhradeZalohaCatka,
        'kUhradeZalohaDatum': kUhradeZalohaDatum,
        'kUhradeDoplatekCastka': kUhradeDoplatekCastka,
        'kUhradeDoplatekDatum': kUhradeDoplatekDatum,
    } %}

    {% include 'partials/popup-input.html.twig' with {
        'mozneStavy': mozneStavy,
        'objednaneSluzby': objednavka.sluzbaHolder.objednaneSluzby,
        'stornovaneSluzby': objednavka.sluzbaHolder.stornovaneSluzby,
        'aktualniStorno': aktualniStorno,
        'provize': provize,
        'kUhradeZalohaCatka': kUhradeZalohaCatka,
        'kUhradeZalohaDatum': kUhradeZalohaDatum,
        'kUhradeDoplatekCastka': kUhradeDoplatekCastka,
        'kUhradeDoplatekDatum': kUhradeDoplatekDatum,
    } only %}
    {% include 'partials/popup-validation.html.twig' %}
    <div id="lightbox"></div>

    {# note jquery a jquery-ui je nacteno v html hlavicce #}
    <script type="text/javascript" src="{{ globalResURL }}/date-range-picker/moment.js"></script>
    <script type="text/javascript" src="{{ globalResURL }}/date-range-picker/daterangepicker.js"></script>
    <script type="text/javascript" src="{{ globalResURL }}/js/typeahead/typeahead.bundle.js"></script>
    <script type="text/javascript" src="{{ globalResURL }}/js/handlebars/handlebars-v2.0.0.js"></script>
    <script type="text/javascript" src="{{ globalResURL }}/js/PopupCommonWindow.js"></script>
    <script type="text/javascript" src="{{ globalResURL }}/js/PopupInputWindow.js"></script>
    <script type="text/javascript" src="{{ globalResURL }}/js/TypeaheadSetup.js"></script>
    <script type="text/javascript" src="{{ resURL }}/js/ObjednavkyShowHideBlocks.js"></script>
    <script type="text/javascript" src="{{ resURL }}/js/ObjednavkyButtons.js"></script>
    <script type="text/javascript" src="{{ resURL }}/js/ObjednavkyValidator.js"></script>
    <script type="text/javascript" src="{{ resURL }}/js/script.js"></script>

{% endif %}