<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Panagea - Premium site template fo r travel agencies, hotels and restaurant listing.">
    <meta name="author" content="Ansonika">
    <title>{% block title %}SLANtour{% endblock title %}</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="/img/logo_slan-fav.png" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="/html-template/img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="/html-template/img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="/html-template/img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="/html-template/img/apple-touch-icon-144x144-precomposed.png">

    <!-- GOOGLE WEB FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="/css/all.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
	<link href="/html-template/css/vendors.css" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="/css/custom.css" rel="stylesheet">
    
    {% block stylesheets %}{% endblock stylesheets %}

</head>

<body class="datepicker_mobile_full"><!-- Remove this class to disable datepicker full on mobile -->
		
	<div id="page">
		
	<header class="header menu_fixed">
		<div id="preloader"><div data-loader="circle-side"></div></div><!-- /Page Preload -->
		<div id="logo">
			<a href="/index.php">
				<img src="/img/logo_slan-light.png" height="36" alt="" class="logo_normal">
				<span class="title logo_normal">SLAN tour</span> 
				<img src="/img/logo_slan-dark.png" height="36" alt="" class="logo_sticky">
				<span class="title logo_sticky">SLAN tour</span> 
			</a>
		</div>
		<ul id="top_menu">
			<li><a href="/html-template/cart-1.html" class="cart-menu-btn" title="Cart"><strong>4</strong></a></li>
			<li><a href="/html-template/#sign-in-dialog" id="sign-in" class="login" title="Sign In">Sign In</a></li>
			<li><a href="/html-template/wishlist.html" class="wishlist_bt_top" title="Your wishlist">Your wishlist</a></li>
		</ul>
		<!-- /top_menu -->
		<a href="#menu" class="btn_mobile">
			<div class="hamburger hamburger--spin" id="hamburger">
				<div class="hamburger-box">
					<div class="hamburger-inner"></div>
				</div>
			</div>
		</a>
		<nav id="menu" class="main-menu">
			<ul>
				<li><span><a href="/zeme-seznam">Země <i class="fas fa-caret-down"></i></a></span>
					<ul class="megamenu">
						<li class="megamenu-item">
							<span class="megamenu-title"><a href="/zeme-seznam/evropa">Evropa</a></span>
							<ul class="megamenu-list europe">
								{% for country in countriesMenu.countries %}
									{% if loop.index0 <= 9 %}
										<li class="megamenu-listitem"><a href="{{ country.url }}">{{ country.name }}</a></li>
									{% endif %}
								{% endfor %}
							</ul>
							<ul class="megamenu-list">
								<li class="megamenu-listitem show_all"><a href="/zeme-seznam/evropa">Zobrazit vše ({{countriesMenu.euCount}})</a></li>
							</ul>
						</li>
						<li class="megamenu-item">
							<span class="megamenu-title"><a href="/zeme-seznam/svet">Svět</a></span>
							<ul class="megamenu-list">
								{% for country in countriesMenu.countries %}
									{% if loop.index0 > 9 and loop.index0 <= 14 %}
										<li class="megamenu-listitem"><a href="{{ country.url }}">{{ country.name }}</a></li>
									{% endif %}
								{% endfor %}
								<li class="megamenu-listitem show_all"><a href="/zeme-seznam/svet">Zobrazit vše ({{countriesMenu.worldCount}})</a></li>
							</ul>
						</li>
						<li class="megamenu-item">
							<span class="megamenu-title"><a href="/zeme-seznam/sport">Sport</a></span>
							<ul class="megamenu-list">
								{% for country in countriesMenu.countries %}
									{% if loop.index0 > 14 and loop.index0 <= 19 %}
										<li class="megamenu-listitem"><a href="{{ country.url }}">{{ country.name }}</a></li>
									{% endif %}
								{% endfor %}
								{% if countriesMenu.countries|length <= 19 %}
									<li class="megamenu-listitem">placeholder</li>
								{% endif %}
								<li class="megamenu-listitem show_all"><a href="/zeme-seznam/sport">Zobrazit vše ({{countriesMenu.sportCount}})</a></li>
							</ul>
						</li>
						
					</ul>
				</li>
				<li><span><a href="/typy-zajezdu.php">Typy zájezdů <i class="fas fa-caret-down"></i></a></span>
					<ul class="megamenu types">
						{% for tourType in typesOfTours %}
						<li class="megamenu-item">
							<a href="{{ tourType.url }}">
								<span class="preview">
									<img src="{{ tourType.image }}" alt="{{ tourType.name }} - {{ tourType.description }}"/>
									<span>{{ tourType.name }}<br><small>{{ tourType.numberOfTours }} zájezdů</small></span>
								</span>
							</a>
						</li>
						{% endfor %}
					</ul>
				</li>
				
				<li><span><a>O Nás <i class="fas fa-caret-down"></i></a></span>
					<ul class="menu">
						<li><a href="/onas.php">O nás</a></li>
						<li><a href="/kontakty.php">Kontakty</a></li>
						<li><a href="/kontakty.php">Ohlasy klientů</a></li>
						<li><a href="/slevy.php">Slevy</a></li>
					</ul>
				</li>

			</ul>
		</nav>
	</header>
	<!-- /header -->
	
    
	<main>
		{% block main %}
            
        {% endblock main %}
	</main>
	<!-- /main -->

	<footer>
		<div class="container margin_60_35">
			<div class="row">
				<div class="col-lg-5 col-md-12 p-r-5">
					<p>
						<img src="/img/logo_slan-light.png" height="36" alt="slantour">
						<span class="title logo_normal">SLAN tour</span>
					</p>
					<p>Mea nibh meis philosophia eu. Duis legimus efficiantur ea sea. Id placerat tacimates definitionem sea, prima quidam vim no. Duo nobis persecuti cu. Nihil facilisi indoctum an vix, ut delectus expetendis vis.</p>
					<div class="follow_us">
						<ul>
							<li>Sledujte nás</li>
							<li><a href="https://www.facebook.com/slantour/"><i class="ti-facebook"></i></a></li>
							<li><a href="https://www.instagram.com/slan.tour"><i class="ti-instagram"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 ml-lg-auto">
					<h5>Užitečné odkazy</h5>
					<ul class="links">
						<li><a href="/info-prodejci.php">Info pro prodejce</a></li>
						<li><a href="/poukazy.php">Slevové karty a poukazy</a></li>
						<li><a href="">Katalogy</a></li>
						<li><a href="/faq.php">Časté dotazy</a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-6">
					<h5>Kontaktujte nás</h5>
					<ul class="contacts">
						<li><a href="tel:+420312522704"><i class="ti-mobile"></i> +420 312 522 704</a></li>
						<li><a href="mailto:info@slantour.cz"><i class="ti-email"></i> info@slantour.cz</a></li>
					</ul>
					<div id="newsletter">
					<h6>Newsletter</h6>
					<div id="message-newsletter"></div>
					<form method="post" action="assets/newsletter.php" name="newsletter_form" id="newsletter_form">
						<div class="form-group">
							<input type="email" name="email_newsletter" id="email_newsletter" class="form-control" placeholder="Váš email">
							<input type="submit" value="Odebírat" id="submit-newsletter">
						</div>
					</form>
					</div>
				</div>
			</div>
			<!--/row-->
			<hr>
			<div class="row">
				<div class="col-lg-6">
					
				</div>
				<div class="col-lg-6">
					<ul id="additional_links">
						<li><a href="/html-template/#0">Terms and conditions</a></li>
						<li><a href="/html-template/#0">Privacy</a></li>
						<li><span>© 2022 Slantour s.r.o.</span></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	<!--/footer-->
	</div>
	<!-- page -->
	
	<div id="toTop"></div><!-- Back to top button -->
	
	{% block javascripts_before %}{% endblock javascripts_before %}

	<!-- COMMON SCRIPTS -->
    <script src="/html-template/js/common_scripts.js"></script>
    <script src="/html-template/js/main.js"></script>
	<script src="/html-template/assets/validate.js"></script>
	
    {% block javascripts %}{% endblock javascripts %}
	
	<!-- DATEPICKER  -->
	<script>
		$(function () {
				'use strict';


				$('input[name="dates"]').daterangepicker({
					autoUpdateInput: false,
					minDate: new Date(),
					locale: {
						"format": "DD/MM/YY",
						"separator": "/",
						"applyLabel": "Potvrdit",
						"cancelLabel": "Zrušit",
						"fromLabel": "Od",
						"toLabel": "Do",
						"customRangeLabel": "Custom",
						"weekLabel": "Týden",
						"daysOfWeek": [
							"Ne",
							"Po",
							"Út",
							"St",
							"Čt",
							"Pá",
							"So"
						],
						"monthNames": [
							"Leden",
							"Únor",
							"Březen",
							"Duben",
							"Květen",
							"Červen",
							"Červenec",
							"Srpen",
							"Září",
							"Říjen",
							"Listopad",
							"Prosinec"
						],
						"firstDay": 1
					},
				});
				$('input[name="dates"]').on('apply.daterangepicker', function (ev, picker) {
					$(this).val(picker.startDate.format('DD/MM/YY') + ' > ' + picker.endDate.format('DD/MM/YY'));
                                        
                                        
				});

				$('input[name="dates"]').on('cancel.daterangepicker', function (ev, picker) {
					$(this).val('');
				});
			});
	</script>
	
</body>
</html>