          
                    {% for tour in tours %}
                        <div class="box_list isotope-item popular">
                            <div class="row no-gutters">
                                <div class="col-lg-5">
                                    <figure>
                                        <small>{{tour.type}}</small>
                                        <a href="/zajezdy/zobrazit/{{tour.escapedName}}/{{tour.id_zajezd}}">
                                            <img src="{{tour.image}}" class="img-fluid" alt="" width="800" height="533">

                                            {% if tour.priceDiscount > 0 %}
                                                <div class="price_discount_tag">
                                                    -{{tour.priceDiscount}}%
                                                </div>
                                            
                                            {% endif %}

                                            <div class="read_more"><span>Detail zájezdu</span></div>
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-lg-7">
                                    <div class="wrapper">
                                        <h3><a href="/zajezdy/zobrazit/{{tour.escapedName}}/{{tour.id_zajezd}}">{{tour.name}}</a></h3>
                                        <p class="tour_destination">{{tour.destination}}</p>
                                        <div class="tour_list_feat2">
                                            <ul>
                                                {% for feature in tour.features %}
                                                    <li>
                                                        <span><i class="fas {{feature.icon}}"></i>{{feature.text|raw}}</span>
                                                    </li>
                                                {% endfor %}
                                            
                                            </ul>
                                        </div>
                                        <p class="tour_description">{{tour.description|raw}}</p>
                                    </div>
                                    <ul class="footer">
                                        {% if tour.predbeznaRegistrace < 1 %}
                                            <li>
                                            {% if tour.priceDiscount > 0 %}
                                                {% if (tour.priceOriginal - tour.price) > 0 %}
                                                    <div class="price_discount">{{tour.priceOriginal}} Kč</div>
                                                {% endif %}
                                            {% endif %}
                                            <span class="price">od <strong>{{tour.price}} Kč</strong> / os.</span>                                            
                                        {% else %}                                                
                                            <li>
                                            <span class="price"><strong>Předběžná registrace</strong></span>                                            
                                        {% endif %}

                                            
                                            
                                            <span class="dates">{{ tour.dates }} 
                                                {% if tour.totalOtherDates > 0 %}
                                                    <a href="../zajezdy/zobrazit/{{tour.escapedName}}#dates">(+ 
                                                        {{ tour.totalOtherDates }} 
                                                        {% if tour.totalOtherDates > 4 %}
                                                        dalších termínů) 
                                                        {% elseif tour.totalOtherDates > 1 %}	
                                                        další termíny)
                                                        {% else %}
                                                        další termín)
                                                        {% endif %} 
                                                    </a>
                                                {% endif %}
                                            </span>
                                            
                                            {# {% if tour.totalOtherDates > 0 %}
                                            <div class="tour_list_additionalDates hidden">
                                                <table>
                                                    {% for date in tour.allDates %}
                                                        <tr>
                                                            <td><span class="dates">{{date.dates}}</span> 
                                                            <td> 
                                                            {% if date.vyprodano > 0 %}
                                                                <span>Vyprodáno!</span> 
                                                            {% else %}
                                                                <strong>{{date.castka}} Kč</strong> / os.
                                                            {% endif %}
                                                            <td><a href="../zajezdy/zobrazit/{{tour.escapedName}}/{{date.id_zajezd}}">Detail termínu</a>
                                                        </tr>
                                                    {% endfor %}
                                                </table>
                                            </div>
                                            {% endif %}     #}
                                        
                                            
                                        <li>
                                            <a href="../zajezdy/zobrazit/{{tour.escapedName}}/{{tour.id_zajezd}}" class="btn_1">Detail zájezdu</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% if tour.posX != "" %}
                            <script>
                                tourLocations[{{tour.id_zajezd}}] = {"lat":{{tour.posY}},"long":{{tour.posX}},"title":'{{tour.name}}'};
                            </script>
                        {% endif %}  
                    {% endfor %}

