<section class="add_bottom_45">
    <div class="main_title_3">
        <span><em></em></span>
        <h2>Nejprodávanější zájezdy</h2>
        <p>To nejlepší z naší nabídky.</p>
    </div>
    <div class="row">
        {% for tour in popularTours %}
        <div class="col-xl-3 col-lg-6 col-md-6">
            <a href="/zajezdy/zobrazit/{{tour.escapedName}}/{{tour.id_zajezd}}" class="grid_item">
                <figure>
                    <div class="price">
                        od {{tour.price}} Kč
                    </div>

                    {% if tour.priceDiscount > 0 %}
                    <div class="price_discount">{{tour.priceOriginal}} Kč</div>
                    <div class="price_discount_tag">
                        -{{tour.priceDiscount}}%
                    </div>

                    {% endif %}

                    <img src="{{ tour.image }}" class="img-fluid" alt="">
                    <div class="info">
                        <h3>{{tour.name}}</h3>
                        <em>
                            {% if tour.nights > 4 %}
                            {{tour.nights}} nocí -
                            {% elseif tour.nights > 1 %}
                            {{tour.nights}} noci -
                            {% elseif tour.nights > 0 %}
                            {{tour.nights}} noc
                            {% endif %}
                            {{tour.meals}}</em>
                    </div>
                    <div class="info-right">
                        <em>{{tour.destination}}</em>
                    </div>
                </figure>
            </a>
        </div>
        <!-- /grid_item -->
        {% endfor %}
    </div>
    <!-- /row -->
    <a href="hotels-grid-isotope.html"><strong>Zobrazit další zájezdy (157) <i class="arrow_carrot-right"></i></strong></a>
</section>
<!-- /section -->

<section class="add_bottom_45">
    <div class="main_title_3">
        <span><em></em></span>
        <h2>Last minute, slevy a akční nabídky</h2>
        <p>Využijte naší akční nabídky a vyberte si úžasný zájezd za skvělou cenu</p>
    </div>
    <div class="row">
        {% for tour in discountTours %}
        <!--TODO: u mouseover dat podrobnejsi informace o terminu/terminech? -->
        <div class="col-xl-3 col-lg-6 col-md-6">
            <a href="/zajezdy/zobrazit/{{tour.escapedName}}/{{tour.id_zajezd}}" class="grid_item">
                <figure>
                    <div class="price">
                        od {{tour.price}} Kč
                    </div>

                    {% if tour.priceDiscount > 0 %}
                    <div class="price_discount">{{tour.priceOriginal}} Kč</div>
                    <div class="price_discount_tag">
                        -{{tour.priceDiscount}}%
                    </div>

                    {% endif %}

                    <img src="{{ tour.image }}" class="img-fluid" alt="">
                    <div class="info">
                        <h3>{{tour.name}}</h3>
                        <em>
                            {% if tour.nights > 4 %}
                            {{tour.nights}} nocí -
                            {% elseif tour.nights > 1 %}
                            {{tour.nights}} noci -
                            {% elseif tour.nights > 0 %}
                            {{tour.nights}} noc
                            {% endif %}
                            {{tour.meals}}</em>
                    </div>
                    <div class="info-right">
                        <em>{{tour.destination}}</em>
                    </div>
                </figure>
            </a>
        </div>
        <!-- /grid_item -->
        {% endfor %}
    </div>
    <!-- /row -->
    <a href="restaurants-grid-isotope.html"><strong>Zobrazit další zájezdy (157) <i
                class="arrow_carrot-right"></i></strong></a>
</section>
<!-- /section -->


<section class="add_bottom_45">
    <div class="main_title_3">
        <span><em></em></span>
        <h2>Novinky</h2>
        <p>Vyberte si z našich nejnovějších zájezdů</p>
    </div>
    <div class="row">
        {% for tour in newTours %}
        <div class="col-xl-3 col-lg-6 col-md-6">
            <a href="/zajezdy/zobrazit/{{tour.escapedName}}/{{tour.id_zajezd}}" class="grid_item">
                <figure>
                    <div class="price">
                        od {{tour.price}} Kč
                    </div>

                    {% if tour.priceDiscount > 0 %}
                    <div class="price_discount">{{tour.priceOriginal}} Kč</div>
                    <div class="price_discount_tag">
                        -{{tour.priceDiscount}}%
                    </div>

                    {% endif %}

                    <img src="{{ tour.image }}" class="img-fluid" alt="">
                    <div class="info">
                        <h3>{{tour.name}}</h3>
                        <em>
                            {% if tour.nights > 4 %}
                            {{tour.nights}} nocí -
                            {% elseif tour.nights > 1 %}
                            {{tour.nights}} noci -
                            {% elseif tour.nights > 0 %}
                            {{tour.nights}} noc
                            {% endif %}
                            {{tour.meals}}</em>
                    </div>
                    <div class="info-right">
                        <em>{{tour.destination}}</em>
                    </div>
                </figure>
            </a>
        </div>
        <!-- /grid_item -->
        {% endfor %}
    </div>
    <!-- /row -->
    <a href="restaurants-grid-isotope.html"><strong>Zobrazit další zájezdy (157) <i
                class="arrow_carrot-right"></i></strong></a>
</section>
<!-- /section -->