{% extends "_base.html.twig" %}

{% block stylesheets %}
<!-- REVOLUTION SLIDER CSS -->
<link rel="stylesheet" type="text/css" href="/html-template/revolution-slider/css/settings.css">
<link rel="stylesheet" type="text/css" href="/html-template/revolution-slider/css/settings.css">
<link rel="stylesheet" type="text/css" href="/html-template/revolution-slider/css/layers.css">
<link rel="stylesheet" type="text/css" href="/html-template/revolution-slider/css/navigation.css">
{% endblock stylesheets %}

{% block main %}


<div class="main_search">
	<h3>Vyhledat zájezd</h3>
	<form>
		<div class="custom-search-input-2">
			<div class="form-group">
				<input class="form-control" type="text" placeholder="Kam" id="autocomplete">
				<i class="icon_pin_alt"></i>
			</div>
			<div class="form-group">
				<input class="form-control" type="text" name="dates" placeholder="Kdy">
				<i class="icon_calendar"></i>
			</div>

			<div class="panel-dropdown">
				<a href="#">Guests <span class="qtyTotal">1</span></a>
				<div class="panel-dropdown-content">
					<!-- Quantity Buttons -->
					<div class="qtyButtons">
						<label>Adults</label>
						<input type="text" name="qtyInput" value="1">
					</div>
					<div class="qtyButtons">
						<label>Childrens</label>
						<input type="text" name="qtyInput" value="0">
					</div>
				</div>
			</div>
			<div class="form-group text-right">
				<input type="submit" class="btn_search" value="Vyhledat">
			</div>
		</div>
		<!-- /row -->
	</form>
</div>
<!-- /main_search -->
<!-- START SLIDER -->
<div id="rev_slider_44_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="mask-showcase"
	data-source="gallery">
	<!-- Start revolution slider 5.4.8 fullscreen mode -->
	<div id="rev_slider_44" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.8">

		<ul>
			<!-- start slide 01 -->
			<li data-index="rs-73" data-transition="zoomout" data-slotamount="default" data-hideafterloop="0"
				data-hideslideonmobile="off" data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut"
				data-masterspeed="1500" data-rotate="0" data-saveperformance="off" data-title="01" data-param1="01"
				data-description="">
				<!-- main image -->
				<img src="/img/dovolena.jpg" alt="" data-bgcolor="#ccc" data-bgposition="center center"
					data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg"
					data-no-retina>

				<div class="rev-slider-mask"></div>

				<!-- main text layer -->
				<div class="tp-caption tp-resizeme text-white text-center" id="slide-411-layer-01"
					data-frames='[{"delay":200,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[-100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
					data-type="text" data-whitespace="nowrap" data-x="['center','center','center','center']"
					data-hoffset="['-300','-300','-300','-300']" data-y="['middle','middle','middle','middle']"
					data-voffset="['-50','-50','-115','-65']" data-width="auto" data-height="auto"
					data-fontsize="['70','53','60','35']" data-lineheight="['70','59','70','39']"
					data-letterspacing="['-2','-1','-1','-1']" data-responsive="off" data-responsive_offset="off"
					data-paddingtop="['0','0','0','0']" data-paddingbottom="['15','8','8','8']"
					data-paddingright="['0','0','0','0']" data-paddingleft="['0','0','0','0']"
					style="text-shadow: 0 0 20px rgba(0,0,0,0.3); font-weight: 600;">S námi máte <br>svět na dosah
				</div>

				<!-- small text layer -->
				<div class="tp-caption tp-resizeme text-white text-center" id="slide-411-layer-02"
					data-frames='[{"delay":1200,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[-100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
					data-type="text" data-x="['center','center','center','center']"
					data-hoffset="['-300','-300','-300','-300']" data-y="['middle','middle','middle','middle']"
					data-voffset="['65','100','-5','15']" data-width="auto" data-height="auto"
					data-fontsize="['19','16','19','14']" data-lineheight="['28','14','23','20']"
					data-letterspacing="['0.5','0.5','0.5','0.5']" data-responsive="off" data-responsive_offset="on">Vyberte si z více než 90 destinací
				</div>

				<!-- btn layer -->
				<a class="tp-caption tp-resizeme rs-btn btn_1" href="tours-grid-isotope.html" id="slide-411-layer-03"
					data-x="['center','center','center','center']" data-hoffset="['-300','-300','-300','-300']"
					data-y="['middle','middle','middle','middle']" data-voffset="['152','130','82','80']"
					data-whitespace="nowrap" data-type="button" data-responsive="off" data-responsive_offset="off"
					data-frames='[{"delay":1200,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[-100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
					data-textAlign="['center','center','center','center']">Destinace
				</a>
			</li>
			<!-- end slide 01 -->
			<!-- start slide 02 -->
			<li data-index="rs-74" data-transition="fadetotopfadefrombottom" data-slotamount="default"
				data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power3.easeInOut"
				data-easeout="Power3.easeInOut" data-masterspeed="1500" data-rotate="0" data-saveperformance="off"
				data-title="02" data-param1="02" data-description="">
				<!-- main image -->
				<img src="/img/lazne.jpeg" alt="" data-bgcolor="#ccc" data-bgposition="center center" data-bgfit="cover"
					data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>

				<div class="rev-slider-mask"></div>

				<!-- main text layer -->
				<div class="tp-caption tp-resizeme alt-font text-white font-weight-600 text-center"
					id="slide-411-layer-04"
					data-frames='[{"delay":200,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[-100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
					data-type="text" data-whitespace="nowrap" data-x="['center','center','center','center']"
					data-hoffset="['-300','-300','-300','-300']" data-y="['middle','middle','middle','middle']"
					data-voffset="['-50','-50','-115','-65']" data-width="auto" data-height="auto"
					data-fontsize="['70','53','60','35']" data-lineheight="['70','59','70','39']"
					data-letterspacing="['-2','-1','-1','-1']" data-responsive="off" data-responsive_offset="off"
					data-paddingtop="['0','0','0','0']" data-paddingbottom="['15','8','8','8']"
					data-paddingright="['0','0','0','0']" data-paddingleft="['0','0','0','0']"
					style="text-shadow: 0 0 20px rgba(0,0,0,0.3); font-weight: 600">Great places<br> to discover</div>

				<!-- small text layer -->
				<div class="tp-caption tp-resizeme text-white text-center" id="slide-411-layer-05"
					data-frames='[{"delay":1200,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[-100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
					data-type="text" data-x="['center','center','center','center']"
					data-hoffset="['-300','-300','-300','-300']" data-y="['middle','middle','middle','middle']"
					data-voffset="['65','100','-5','15']" data-width="auto" data-height="auto"
					data-fontsize="['19','13','19','14']" data-lineheight="['28','14','23','20']"
					data-letterspacing="['0.5','0.5','0.5','0.5']" data-responsive="off" data-responsive_offset="on">Top
					rated tours, hotels and restaurants.
				</div>

				<!-- btn layer -->
				<a class="tp-caption tp-resizeme rs-btn btn_1" href="tours-grid-sidebar.html" id="slide-411-layer-06"
					data-x="['center','center','center','center']" data-hoffset="['-300','-300','-300','-300']"
					data-y="['middle','middle','middle','middle']" data-voffset="['152','130','82','80']"
					data-whitespace="nowrap" data-type="button" data-responsive="off" data-responsive_offset="off"
					data-frames='[{"delay":1200,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[-100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
					data-textAlign="['center','center','center','center']" data-paddingleft="['34','34','34','34']">Get
					Started Now
				</a>
			</li>
			<!-- end slide 02 -->
			<!-- start slide 03 -->
			<li data-index="rs-75" data-transition="fadetotopfadefrombottom" data-slotamount="default"
				data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power3.easeInOut"
				data-easeout="Power3.easeInOut" data-masterspeed="1500" data-rotate="0" data-saveperformance="off"
				data-title="03" data-param1="03" data-description="">
				<!-- main image -->
				<img src="/img/poznavaci.jpeg" alt="" data-bgcolor="#ccc" data-bgposition="center center"
					data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg"
					data-no-retina>

				<div class="rev-slider-mask"></div>

				<!-- main text layer -->
				<div class="tp-caption tp-resizeme text-white text-center" id="slide-411-layer-07"
					data-frames='[{"delay":200,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[-100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
					data-type="text" data-whitespace="nowrap" data-x="['center','center','center','center']"
					data-hoffset="['-300','-300','-300','-300']" data-y="['middle','middle','middle','middle']"
					data-voffset="['-50','-50','-115','-65']" data-width="auto" data-height="auto"
					data-fontsize="['70','53','60','35']" data-lineheight="['70','59','70','39']"
					data-letterspacing="['-2','-1','-1','-1']" data-responsive="off" data-responsive_offset="off"
					data-paddingtop="['0','0','0','0']" data-paddingbottom="['15','8','8','8']"
					data-paddingright="['0','0','0','0']" data-paddingleft="['0','0','0','0']"
					style="text-shadow: 0 0 20px rgba(0,0,0,0.3); font-weight: 600">Finally...<br> it's time to relax
				</div>

				<!-- small text layer -->
				<div class="tp-caption tp-resizeme alt-font text-white font-weight-300 text-center"
					id="slide-411-layer-08"
					data-frames='[{"delay":1200,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[-100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
					data-type="text" data-x="['center','center','center','center']"
					data-hoffset="['-300','-300','-300','-300']" data-y="['middle','middle','middle','middle']"
					data-voffset="['65','100','-5','15']" data-width="auto" data-height="auto"
					data-fontsize="['19','13','19','14']" data-lineheight="['28','14','23','20']"
					data-letterspacing="['0.5','0.5','0.5','0.5']" data-responsive="off" data-responsive_offset="on">Top
					rated tours, hotels and restaurants.
				</div>

				<!-- btn layer -->
				<a class="tp-caption tp-resizeme rs-btn btn_1" href="tours-grid-sidebar.html" id="slide-411-layer-09"
					data-x="['center','center','center','center']" data-hoffset="['-300','-300','-300','-300']"
					data-y="['middle','middle','middle','middle']" data-voffset="['152','130','82','80']"
					data-whitespace="nowrap" data-type="button" data-responsive="off" data-responsive_offset="off"
					data-frames='[{"delay":1200,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[-100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
					data-textAlign="['center','center','center','center']">Get Started Now
				</a>
			</li>
			<!-- end slide 01 -->
		</ul>
	</div>
</div>
<!-- END REVOLUTION SLIDER -->

<!-- Masonry tour types -->
<div class="container margin_80_0">
	<div class="main_title_2">
		<span><em></em></span>
		<h2>Typy zájezdů</h2>
                <!--TODO: zbavit se posledni carky - nevim jak to ve twigu udelat...
                    TODO na zvazeni: puvodni barva textu pro jednotlive linky na typy
                -->
                <p>
                {% for type in typesOfTours %}
                    <a href="{{ type.url }}" title="{{ type.name }}: {{ type.numberOfTours }} Zájezdů s cenami od {{ type.priceFrom }} Kč; {{ type.description }}">{{ type.name }}</a>,
                {% endfor %}
                
		<!--Poznávací zájezdy, Dovolená u moře, Tuzemské pobyty, Zájezdy za sportem, Eurovíkendy, Fly and Drive, Exotické
			zájezdy, Pobyty na horách, Lázně a termály, Jednodenní zájezdy.--></p>
	</div>
	<div class="row small-gutters categories_grid add_bottom_45">
		<div class="col-sm-12 col-md-6">
			<div class="row small-gutters mt-md-0 mt-sm-2">
				<div class="col-sm-12">
					<a href="{{ typesOfTours[2].url }}">
						<img src="{{ typesOfTours[2].image }}" alt="{{ typesOfTours[2].name }} - {{ typesOfTours[2].description }}" class="img-fluid">
						<div class="wrapper">
							<h2>{{ typesOfTours[2].name }}</h2>
							<p>{{ typesOfTours[2].numberOfTours }} Zájezdů s cenami od {{ typesOfTours[2].priceFrom }} Kč</p>
						</div>
					</a>
				</div>
				<div class="col-sm-12 mt-sm-2">
					<a href="{{ typesOfTours[29].url }}">
						<img src="{{ typesOfTours[29].image }}" alt="{{ typesOfTours[29].name }} - {{ typesOfTours[29].description }}" class="img-fluid">
						<div class="wrapper">
							<h2>{{ typesOfTours[29].name }}</h2>
							<p>{{ typesOfTours[29].numberOfTours }} Zájezdů s cenami od {{ typesOfTours[29].priceFrom }} Kč</p>
						</div>
					</a>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-6">
			<div class="row small-gutters mt-md-0 mt-sm-2">
				<div class="col-sm-6">
					<a href="{{ typesOfTours[1].url }}">
						<img src="{{ typesOfTours[1].image }}" alt="{{ typesOfTours[1].name }} - {{ typesOfTours[1].description }}" class="img-fluid">
						<div class="wrapper">
							<h2>{{ typesOfTours[1].name }}</h2>
							<p>{{ typesOfTours[1].numberOfTours }} Zájezdů s cenami od {{ typesOfTours[1].priceFrom }} Kč</p>
						</div>
					</a>
				</div>
				<div class="col-sm-6">
					<a href="{{ typesOfTours[3].url }}">
						<img src="{{ typesOfTours[3].image }}" alt="{{ typesOfTours[3].name }} - {{ typesOfTours[3].description }}" class="img-fluid">
						<div class="wrapper">
							<h2>{{ typesOfTours[3].name }}</h2>
							<p>{{ typesOfTours[3].numberOfTours }} Zájezdů s cenami od {{ typesOfTours[3].priceFrom }} Kč</p>
						</div>
					</a>
				</div>
				<div class="col-sm-12 mt-sm-2">
					<a href="{{ typesOfTours[4].url }}">
						<img src="{{ typesOfTours[4].image }}" alt="{{ typesOfTours[4].name }} - {{ typesOfTours[4].description }}" class="img-fluid">
						<div class="wrapper">
							<h2>{{ typesOfTours[4].name }}</h2>
							<p>{{ typesOfTours[4].numberOfTours }} Zájezdů s cenami od {{ typesOfTours[4].priceFrom }} Kč</p>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<p class="btn_home_align"><a href="../typy-zajezdu.php" class="btn_1 rounded">Zobrazit Více</a></p>
</div>
<!-- /Masonry tour types -->

<div class="container container-custom">
	<hr class="large">
</div>

<div class="container container-custom margin_30">
	<section class="add_bottom_45">
		<div class="main_title_3">
			<span><em></em></span>
			<h2>Nejprodávanější zájezdy</h2>
			<p>To nejlepší z naší nabídky.</p>
		</div>
		<div class="row">
			{% for tour in popularTours %}
			<div class="col-xl-3 col-lg-6 col-md-6">
				<a href="../zajezd.php" class="grid_item">
					<figure>
						<div class="price">
							od {{tour.price}} Kč
						</div>

						{% if tour.priceDiscount > 0 %}
						<div class="price_discount">{{tour.priceOriginal}} Kč</div>
						<div class="price_discount_tag">
							-{{tour.priceDiscount}}%
						</div>

						{% endif %}

						<img src="{{ tour.image }}" class="img-fluid" alt="">
						<div class="info">
							<h3>{{tour.name}}</h3>
							<em>{{tour.nights}} nocí - {{tour.meals}}</em>
						</div>
						<div class="info-right">
							<em>{{tour.destination}}</em>
						</div>
					</figure>
				</a>
			</div>
			<!-- /grid_item -->
			{% endfor %}
		</div>
		<!-- /row -->
		<a href="hotels-grid-isotope.html"><strong>Zobrazit Více (157) <i class="arrow_carrot-right"></i></strong></a>
	</section>
	<!-- /section -->

	<section class="add_bottom_45">
		<div class="main_title_3">
			<span><em></em></span>
			<h2>Last minute, slevy a akční nabídky</h2>
			<p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
		</div>
		<div class="row">
			{% for tour in discountTours %}
			<div class="col-xl-3 col-lg-6 col-md-6">
				<a href="../zajezd.php" class="grid_item">
					<figure>
						<div class="price">
							od {{tour.price}} Kč
						</div>

						{% if tour.priceDiscount > 0 %}
						<div class="price_discount">{{tour.priceOriginal}} Kč</div>
						<div class="price_discount_tag">
							-{{tour.priceDiscount}}%
						</div>

						{% endif %}

						<img src="{{ tour.image }}" class="img-fluid" alt="">
						<div class="info">
							<h3>{{tour.name}}</h3>
							<em>{{tour.nights}} nocí - {{tour.meals}}</em>
						</div>
						<div class="info-right">
							<em>{{tour.destination}}</em>
						</div>
					</figure>
				</a>
			</div>
			<!-- /grid_item -->
			{% endfor %}
		</div>
		<!-- /row -->
		<a href="restaurants-grid-isotope.html"><strong>Zobrazit Více (157) <i
					class="arrow_carrot-right"></i></strong></a>
	</section>
	<!-- /section -->


	<section class="add_bottom_45">
		<div class="main_title_3">
			<span><em></em></span>
			<h2>Novinky</h2>
			<p>Vyberte si z našich nejnovějších zájezdů</p>
		</div>
		<div class="row">
			{% for tour in newTours %}
			<div class="col-xl-3 col-lg-6 col-md-6">
				<a href="../zajezd.php" class="grid_item">
					<figure>
						<div class="price">
							od {{tour.price}} Kč
						</div>

						{% if tour.priceDiscount > 0 %}
						<div class="price_discount">{{tour.priceOriginal}} Kč</div>
						<div class="price_discount_tag">
							-{{tour.priceDiscount}}%
						</div>

						{% endif %}

						<img src="{{ tour.image }}" class="img-fluid" alt="">
						<div class="info">
							<h3>{{tour.name}}</h3>
							<em>{{tour.nights}} nocí - {{tour.meals}}</em>
						</div>
						<div class="info-right">
							<em>{{tour.destination}}</em>
						</div>
					</figure>
				</a>
			</div>
			<!-- /grid_item -->
			{% endfor %}
		</div>
		<!-- /row -->
		<a href="restaurants-grid-isotope.html"><strong>Zobrazit Více (157) <i
					class="arrow_carrot-right"></i></strong></a>
	</section>
	<!-- /section -->

</div>
<!-- /container -->

<div class="bg_color_1">
	<div class="container margin_80_0">
		<div class="main_title_2">
			<span><em></em></span>
			<h3>Přečtěte si</h3>
			<p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
		</div>
		<div class="row">
			{% for newsItem in news %}
			<div class="col-lg-6">
				<a class="box_news" href="#0">
					<figure><img src="{{ newsItem.image }}" alt=""></figure>
					<ul>
						<li>
							<span>
								<i class="fas fa-user"></i>
							</span>
							Mark Twain
						</li>
						<li>
							<span>
								<i class="fas fa-calendar-alt"></i>
							</span>
							20.11.2017
						</li>
					</ul>
					<h4>{{ newsItem.title }}</h4>
					<p>{{ newsItem.description }}</p>
				</a>
			</div>
			<!-- /box_news -->
			{% endfor %}
		</div>
		<!-- /row -->
		<p class="btn_home_align"><a href="blog.html" class="btn_1 rounded">Zobrazit Více</a></p>
	</div>

	<div class="container margin_80_55">
		<div class="main_title_2">
			<span><em></em></span>
			<h3>Poznáváte s námi svět již od roku 1990</h3>
			<p>sem pridou cisla klientu, zajezdu, atd. jeste dodelam</p>

		</div>

		<div class="row row-30 justify-content-center" data-lightgallery="group">

			<div class="col-md-6 col-lg-5 col-xl-4 col-8 wow">
				<!-- Thumbnail-info-->
				<article class="counter_item"><img src="/img/poznavaci.png" alt="" width="370" height="303">
					<div class="counter_item_figure">
						<div class="counter">
							<div class="counter_number years"></div>
							<h5 class="counter_title">Let Zkušeností</h5>
						</div>
					</div>
				</article>
			</div>
			<div class="col-md-6 col-lg-5 col-xl-4 col-8 wow">
				<!-- Thumbnail-info-->
				<article class="counter_item"><img src="/img/poznavaci.png" alt="" width="370" height="303">
					<div class="counter_item_figure">
						<div class="counter">
							<div class="counter_number tours"></div>
							<h5 class="counter_title">Úžasných Zájezdů</h5>
						</div>
					</div>
				</article>
			</div>
			<div class="col-md-6 col-lg-5 col-xl-4 col-8 wow">
				<!-- Thumbnail-info-->
				<article class="counter_item"><img src="/img/poznavaci.png" alt="" width="370" height="303">
					<div class="counter_item_figure">
						<div class="counter">
							<div class="counter_number clients"></div>
							<h5 class="counter_title">Spokojených Klientů</h5>
						</div>
					</div>
				</article>
			</div>
		</div>
	</div>

	<!-- /container -->
</div>
<!-- /bg_color_1 -->

<div class="call_section">
	<div class="container clearfix">
		<div class="col-lg-5 col-md-6 float-right wow" data-wow-offset="250">
			<div class="block-reveal">
				<div class="block-vertical"></div>
				<div class="box_1">
					<h3>Sem bych dal nejake ty ohlasy klientu, ne presne takhle, jen abys vedel</h3>
					<p>Ius cu tamquam persequeris, eu veniam apeirian platonem qui, id aliquip voluptatibus pri. Ei mea
						primis ornatus disputationi. Menandri erroribus cu per, duo solet congue ut. </p>
					<a href="#0" class="btn_1 rounded">Read more</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!--/call_section-->
{% endblock main %}

{% block javascripts %}
<!-- SLIDER REVOLUTION SCRIPTS  -->
<script src="/html-template/revolution-slider/js/jquery.themepunch.tools.min.js"></script>
<script src="/html-template/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>
<script src="/html-template/revolution-slider/js/extensions/revolution.extension.actions.min.js"></script>
<script src="/html-template/revolution-slider/js/extensions/revolution.extension.carousel.min.js"></script>
<script src="/html-template/revolution-slider/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="/html-template/revolution-slider/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="/html-template/revolution-slider/js/extensions/revolution.extension.migration.min.js"></script>
<script src="/html-template/revolution-slider/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="/html-template/revolution-slider/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="/html-template/revolution-slider/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="/html-template/revolution-slider/js/extensions/revolution.extension.video.min.js"></script>
<script>
	var tpj = jQuery;

	var revapi44;
	tpj(document).ready(function () {
		if (tpj("#rev_slider_44").revolution == undefined) {
			revslider_showDoubleJqueryError("#rev_slider_44");
		} else {
			revapi44 = tpj("#rev_slider_44").show().revolution({
				sliderType: "standard",
				jsFileLocation: "revolution-slider/js/",
				sliderLayout: "fullwidth",
				dottedOverlay: "none",
				delay: 4500,
				navigation: {
					keyboardNavigation: "on",
					keyboard_direction: "horizontal",
					mouseScrollNavigation: "off",
					mouseScrollReverse: "default",
					onHoverStop: "off",
					touch: {
						touchenabled: "on",
						touchOnDesktop: "on",
						swipe_threshold: 75,
						swipe_min_touches: 1,
						swipe_direction: "horizontal",
						drag_block_vertical: false
					},
					arrows: {
						enable: true,
						style: 'erinyen',
						tmp: '',
						rtl: false,
						hide_onleave: true,
						hide_onmobile: true,
						hide_under: 767,
						hide_over: 9999,
						hide_delay: 0,
						hide_delay_mobile: 0,

						left: {
							container: 'slider',
							h_align: 'left',
							v_align: 'center',
							h_offset: 60,
							v_offset: 0
						},

						right: {
							container: 'slider',
							h_align: 'right',
							v_align: 'center',
							h_offset: 60,
							v_offset: 0
						}
					},
					bullets: {
						enable: true,
						style: 'zeus',
						direction: 'horizontal',
						rtl: false,

						container: 'slider',
						h_align: 'center',
						v_align: 'bottom',
						h_offset: 0,
						v_offset: 30,
						space: 7,

						hide_onleave: false,
						hide_onmobile: false,
						hide_under: 0,
						hide_over: 2000,
						hide_delay: 200,
						hide_delay_mobile: 1200
					},
				},
				responsiveLevels: [1240, 1025, 778, 480],
				visibilityLevels: [1920, 1500, 1025, 768],
				gridwidth: [1200, 991, 778, 480],
				gridheight: [650, 650, 1025, 868],
				lazyType: "none",
				shadow: 0,
				spinner: "spinner4",
				stopLoop: "off",
				stopAfterLoops: -1,
				stopAtSlide: -1,
				shuffle: "off",
				autoHeight: "off",
				fullScreenAutoWidth: "off",
				fullScreenAlignForce: "off",
				fullScreenOffsetContainer: "",
				disableProgressBar: "on",
				hideThumbsOnMobile: "on",
				hideSliderAtLimit: 0,
				hideCaptionAtLimit: 0,
				hideAllCaptionAtLimit: 0,
				debugMode: false,
				fallbacks: {
					simplifyAll: "off",
					nextSlideOnWindowFocus: "off",
					disableFocusListener: false,
				}
			});
		}
	});
</script>
{% endblock javascripts %}