{% extends "_base.html.twig" %}

{% block main %}

<!-- Background YouTube Parallax -->
<div class="hero_single jarallax" data-jarallax-video="https://youtu.be/mru3Q5m4lkY">
	<div class="wrapper" style="background-color: rgba(0, 0, 0, 0.5);">
		<div class="container">
			<h3>Sa námi máte svět na dosah</h3>
			<p>vyberte si z více než 90? destinací</p>
			<form>
				<div class="row no-gutters custom-search-input-2">
					<div class="col-lg-4">
						<div class="form-group">
							<input class="form-control" type="text" placeholder="Kam">
							<i class="icon_pin_alt"></i>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="form-group">
							<input class="form-control" type="text" name="dates" placeholder="Kdy">
							<i class="icon_calendar"></i>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="panel-dropdown">
							<a href="#">Guests <span class="qtyTotal">1</span></a>
							<div class="panel-dropdown-content">
								<!-- Quantity Buttons -->
								<div class="qtyButtons">
									<label>Adults</label>
									<input type="text" name="qtyInput" value="1">
								</div>
								<div class="qtyButtons">
									<label>Childrens</label>
									<input type="text" name="qtyInput" value="0">
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-2">
						<input type="submit" class="btn_search" value="Search">
					</div>
				</div>
				<!-- /row -->
			</form>
		</div>
	</div>
</div>
<!-- /Background YouTube Parallax -->

<!-- Masonry tour types -->
<div class="container margin_80_0">
	<div class="main_title_2">
		<span><em></em></span>
		<h2>Typy zájezdů</h2>
		<p>Poznávací zájezdy, Dovolená u moře, Tuzemské pobyty, Zájezdy za sportem, Eurovíkendy, Fly and Drive, Exotické zájezdy, Pobyty na horách, Lázně a wellness, Jednodenní zájezdy 
			.</p>
	</div>
	<div class="row small-gutters categories_grid add_bottom_45">
		<div class="col-sm-12 col-md-6">
			<div class="row small-gutters mt-md-0 mt-sm-2">
				<div class="col-sm-12">
					<a href="all_tours_list.html">
						<img src="{{ typesOfTours[0].image }}" alt="" class="img-fluid">
						<div class="wrapper">
							<h2>{{ typesOfTours[0].name }}</h2>
							<p>{{ typesOfTours[0].numberOfTours }} Zájezdů</p>
						</div>
					</a>
				</div>
				<div class="col-sm-12 mt-sm-2">
					<a href="all_tours_list.html">
						<img src="{{ typesOfTours[1].image }}" alt="" class="img-fluid">
						<div class="wrapper">
							<h2>{{ typesOfTours[1].name }}</h2>
							<p>{{ typesOfTours[1].numberOfTours }} Zájezdů</p>
						</div>
					</a>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-6">
			<div class="row small-gutters mt-md-0 mt-sm-2">
				<div class="col-sm-6">
					<a href="all_tours_list.html">
						<img src="{{ typesOfTours[2].image }}" alt="" class="img-fluid">
						<div class="wrapper">
							<h2>{{ typesOfTours[2].name }}</h2>
							<p>{{ typesOfTours[2].numberOfTours }} Zájezdů</p>
						</div>
					</a>
				</div>
				<div class="col-sm-6">
					<a href="all_hotels_list.html">
						<img src="{{ typesOfTours[3].image }}" alt="" class="img-fluid">
						<div class="wrapper">
							<h2>{{ typesOfTours[3].name }}</h2>
							<p>{{ typesOfTours[3].numberOfTours }} Zájezdů</p>
						</div>
					</a>
				</div>
				<div class="col-sm-12 mt-sm-2">
					<a href="all_restaurants_list.html">
						<img src="{{ typesOfTours[4].image }}" alt="" class="img-fluid">
						<div class="wrapper">
							<h2>{{ typesOfTours[4].name }}</h2>
							<p>{{ typesOfTours[4].numberOfTours }} Zájezdů</p>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<p class="btn_home_align"><a href="tours-grid-isotope.html" class="btn_1 rounded">Zobrazit Více</a></p>
</div>
<!-- /Masonry tour types -->

<div class="container container-custom">
	<hr class="large">
</div>

<div class="container container-custom margin_30">
	<section class="add_bottom_45">
		<div class="main_title_3">
			<span><em></em></span>
			<h2>Nejprodávanější Zájezdy</h2>
			<p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
		</div>
		<div class="row">
			{% for tour in popularTours %}
			<div class="col-xl-3 col-lg-6 col-md-6">
				<a href="hotel-detail.html" class="grid_item">
					<figure>
						<div class="price">
							od {{tour.price}} Kč
						</div>

						{% if tour.priceDiscount > 0 %}
						<div class="price_discount">{{tour.priceOriginal}} Kč</div>
						<div class="price_discount_tag">
							-{{tour.priceDiscount}}%
						</div>

						{% endif %}

						<img src="{{ tour.image }}" class="img-fluid" alt="">
						<div class="info">
							<h3>{{tour.name}}</h3>
							<em>{{tour.nights}} nocí - {{tour.meals}}</em>
						</div>
						<div class="info-right">
							<em>{{tour.destination}}</em>
						</div>
					</figure>
				</a>
			</div>
			<!-- /grid_item -->
			{% endfor %}
		</div>
		<!-- /row -->
		<a href="hotels-grid-isotope.html"><strong>Zobrazit Více (157) <i class="arrow_carrot-right"></i></strong></a>
	</section>
	<!-- /section -->

	<section class="add_bottom_45">
		<div class="main_title_3">
			<span><em></em></span>
			<h2>Popularni Destinace / Last minute?? Akce??</h2>
			<p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
		</div>
		<div class="row">
			{% for tour in discountTours %}
			<div class="col-xl-3 col-lg-6 col-md-6">
				<a href="hotel-detail.html" class="grid_item">
					<figure>
						<div class="price">
							od {{tour.price}} Kč
						</div>

						{% if tour.priceDiscount > 0 %}
						<div class="price_discount">{{tour.priceOriginal}} Kč</div>
						<div class="price_discount_tag">
							-{{tour.priceDiscount}}%
						</div>

						{% endif %}

						<img src="{{ tour.image }}" class="img-fluid" alt="">
						<div class="info">
							<h3>{{tour.name}}</h3>
							<em>{{tour.nights}} nocí - {{tour.meals}}</em>
						</div>
						<div class="info-right">
							<em>{{tour.destination}}</em>
						</div>
					</figure>
				</a>
			</div>
			<!-- /grid_item -->
			{% endfor %}
		</div>
		<!-- /row -->
		<a href="restaurants-grid-isotope.html"><strong>Zobrazit Více (157) <i
					class="arrow_carrot-right"></i></strong></a>
	</section>
	<!-- /section -->

</div>
<!-- /container -->

<div class="bg_color_1">
	<div class="container margin_80_0">
		<div class="main_title_2">
			<span><em></em></span>
			<h3>Novinky a Akce</h3>
			<p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
		</div>
		<div class="row">
			{% for newsItem in news %}
			<div class="col-lg-6">
				<a class="box_news" href="#0">
					<figure><img src="{{ newsItem.image }}" alt=""></figure>
					<ul>
						<li>
							<span>
								<i class="fas fa-user"></i>
							</span>
							Mark Twain
						</li>
						<li>
							<span>
								<i class="fas fa-calendar-alt"></i>
							</span>
							20.11.2017
						</li>
					</ul>
					<h4>{{ newsItem.title }}</h4>
					<p>{{ newsItem.description }}</p>
				</a>
			</div>
			<!-- /box_news -->
			{% endfor %}
		</div>
		<!-- /row -->
		<p class="btn_home_align"><a href="blog.html" class="btn_1 rounded">Zobrazit Více</a></p>
	</div>

	<div class="container margin_80_55">
		<div class="main_title_2">
			<span><em></em></span>
			<h3>Poznáváte s námi svět již od roku 1990</h3>
			<p>sem pridou cisla klientu, zajezdu, atd. jeste dodelam</p>

		</div>

		<div class="row row-30 justify-content-center" data-lightgallery="group">

			<div class="col-md-6 col-lg-5 col-xl-4 col-8 wow">
				<!-- Thumbnail-info-->
				<article class="counter_item"><img src="/img/poznavaci.png" alt="" width="370" height="303">
					<div class="counter_item_figure">
						<div class="counter">
							<div class="counter_number years"></div>
							<h5 class="counter_title">Let Zkušeností</h5>
						</div>
					</div>
				</article>
			</div>
			<div class="col-md-6 col-lg-5 col-xl-4 col-8 wow">
				<!-- Thumbnail-info-->
				<article class="counter_item"><img src="/img/poznavaci.png" alt="" width="370" height="303">
					<div class="counter_item_figure">
						<div class="counter">
							<div class="counter_number tours"></div>
							<h5 class="counter_title">Úžasných Zájezdů</h5>
						</div>
					</div>
				</article>
			</div>
			<div class="col-md-6 col-lg-5 col-xl-4 col-8 wow">
				<!-- Thumbnail-info-->
				<article class="counter_item"><img src="/img/poznavaci.png" alt="" width="370" height="303">
					<div class="counter_item_figure">
						<div class="counter">
							<div class="counter_number clients"></div>
							<h5 class="counter_title">Spokojených Klientů</h5>
						</div>
					</div>
				</article>
			</div>
		</div>
	</div>

	<!-- /container -->
</div>
<!-- /bg_color_1 -->

<div class="call_section">
	<div class="container clearfix">
		<div class="col-lg-5 col-md-6 float-right wow" data-wow-offset="250">
			<div class="block-reveal">
				<div class="block-vertical"></div>
				<div class="box_1">
					<h3>Sem bych dal nejake ty ohlasy klientu, ne presne takhle, jen abys vedel</h3>
					<p>Ius cu tamquam persequeris, eu veniam apeirian platonem qui, id aliquip voluptatibus pri. Ei mea
						primis ornatus disputationi. Menandri erroribus cu per, duo solet congue ut. </p>
					<a href="#0" class="btn_1 rounded">Read more</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!--/call_section-->
{% endblock main %}