{% extends "_base.html.twig" %}

{% block title %}SLANtour - {{ type.name }}{% endblock title %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block main %}


<section class="hero_in tour_list">
    <img src="{{ type.image }}" alt="Slide background">
    <div class="wrapper">
        <div class="container">
            <h1 class="fadeInUp"><span></span>{{ type.name }}</h1>
        </div>
    </div>
</section>
<!--/hero_in-->

<div class="bg_color_1">

    {% include "_breadcrumbs.html.twig" %}

    <div class="container margin_35_35">
        <section class="main_description add_bottom_45">
            {{ type.description|raw }}

            <p class="btn_tours_align"><a href="/vyhledat-zajezd.php?tourTypeFilter[]={{ type.id }}"
                    class="btn_1 rounded">Zobrazit všechny zájezdy ({{totalTours}})</a>
            </p>
        </section>

        {% include "_tour-lists.html.twig" %}

        <hr>

        <section class="add_bottom_45">
            <div class="main_title_3">
                <h2>Země</h2>
            </div>
            <div class="row">
                {% for country in countries %}
                <div class="col-xl-3 col-lg-6 col-md-6">
                    <a href="/vyhledat-zajezd.php?tourTypeFilter[]={{ type.id }}&countryFilter[]={{ country.id }}"
                        class="grid_item">
                        <figure>
                            <img src="{{ country.image }}" class="img-fluid" alt="">
                            <div class="info">
                                <h3>{{country.name}}</h3>
                                {{country.numberOfTours}} 
                                {% if country.numberOfTours > 4 %}
                                zájezdů 
                                {% elseif country.numberOfTours > 1 %}	
                                zájezdy
                                {% else %}
                                zájezd
                                {% endif %}
                                
                                od {{country.priceFrom}} Kč
                            </div>
                        </figure>
                    </a>
                </div>
                <!-- /grid_item -->
                {% endfor %}
            </div>
        </section>

        <p class="btn_tours_align"><a href="/vyhledat-zajezd.php?tourTypeFilter[]={{ type.id }}"
                class="btn_1 rounded">Zobrazit všechny zájezdy ({{totalTours}})</a>
        </p>

    </div>
    <!-- /container -->
</div>
<!-- /bg_color_1 -->



{% endblock main %}

{% block javascripts %}

{% endblock javascripts %}