{% extends "_base.html.twig" %}


{% block meta %}
<meta name="description" content="SLANtour - nabídka různých typů zájezdů. Vyberte si z široké nabídky poznávacích, sportovních a relaxačních zájezdů.">
<meta name="keywords" content="zájezdy, dovolená, poznávací zájezdy, sportovní zájezdy, relaxační zájezdy, dovolená u moře">
{% endblock meta %}

{% block title %}SLANtour | Typy Zájezdů - poznávací zájezdy, lázně, dovolená u moře, sportovní zájezdy{% endblock title %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block main %}


<section class="hero_in tour_list">
	<picture>
		<source srcset="../img/poznavaci.webp" type="image/webp" alt="Tour list background">
		<img src="../img/poznavaci.png" alt="Tour list background" class="img-fluid">
	</picture>
    <div class="wrapper">
        <div class="container">
            <h1 class="fadeInUp"><span></span>Typy zájezdů</h1>
        </div>
    </div>
</section>
<!--/hero_in-->

<div class="bg_color_1">

    {% include "_breadcrumbs.html.twig" %}

    <div class="container margin_35_35">
        <div class="row">
			{% for type in typesOfTours %}
			<div class="col-xl-3 col-lg-6 col-md-6">
				<a href="{{ type.url }}" class="grid_item">
					<figure>
						<picture>
							<source srcset="{{ type.image|replace({'.png': '.webp'}) }}" type="image/webp" alt="{{type.name}}">
							<img src="{{ type.image }}" class="img-fluid" alt="{{type.name}}">
						</picture>
						<div class="info">
							<h3>{{type.name}}</h3>
							{{type.numberOfTours}} 
							{% if type.numberOfTours > 4 %}
							zájezdů 
							{% elseif type.numberOfTours > 1 %}	
							zájezdy
							{% else %}
							zájezd
							{% endif %} 
							
							od {{type.priceFrom}} Kč
						</div>
					</figure>
				</a>
			</div>
			<!-- /grid_item -->
			{% endfor %}
		</div>
    </div>
    <!-- /container -->
</div>
<!-- /bg_color_1 -->



{% endblock main %}

{% block javascripts %}

{% endblock javascripts %}