{% extends "_base.html.twig" %}

{% block title %}SLANtour - {{ type.name }}{% endblock title %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block main %}

<script src="/node_modules/itemsjs/dist/itemsjs.js"></script>
<section class="hero_in tour_list search">
    <img src="../img/dovolena.png" alt="Slide background">
    <div class="wrapper">
</section>
<!--/hero_in-->

<div class="bg_color_1">

    {% include "_breadcrumbs.html.twig" %}

    <div class="collapse" id="collapseMap">
        <div id="map" class="map"></div>
    </div>
    <!-- End Map -->

    <div class="container margin_35_35">
        <div class="row">
            <aside class="col-lg-3">
                <div class="custom-search-input-2 inner-2">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Kamkoliv" id="autocomplete" value="{{ txt }}">
                        <i class="icon_pin_alt"></i>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" id="datesInput" name="dates" placeholder="Kdykoliv" value="{{ dates }}">
                        <i class="icon_calendar"></i>
                    </div>
                    <input type="submit" class="btn_search" id="toursVolume" value="Ukázat 0 zájezdů">
                </div>
                <!-- /custom-search-input-2 -->
                <div id="filters_col">
                    <a data-toggle="collapse" href="#collapseFilters" aria-expanded="false"
                        aria-controls="collapseFilters" id="filters_col_bt">Filters </a>
                    <div class="collapse show" id="collapseFilters">

                        <div class="filter_type" id="tour_type_filter">
                            <h6>Typ Zájezdu</h6>
                            <ul>
                                {% for tourType in types %}
                                <li>
                                    <label class="container_check filter" id="tourTypeFilter_{{tourType.id}}">{{tourType.name}} <small>(0)</small>
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        
                        <div class="filter_type" id="price_filter">
                            <h6>Cena</h6>
                            <!--<input type="text" id="range" name="range" value="">-->
                            <div class="price_inputs">
                                <input class="form-control" type="text" id="range-min">
                                <span> - </span>
                                <input class="form-control" type="text" id="range-max">

                            </div>
                        </div>

                        <div class="filter_type" id="transport_filter">
                            <h6>Doprava</h6>
                            <ul>
                                {% for key,transport in transports %}
                                <li>
                                    <label class="container_check filter" id="transportFilter_{{key}}">{{transport}} <small>(0)</small>
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        
                        <div class="filter_type" id="food_filter">
                            <h6>Strava</h6>
                            <ul>
                                {% for key,food in foods %}
                                <li>
                                    <label class="container_check filter" id="foodFilter_{{key}}">{{food}} <small>(0)</small>
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="filter_type" id="tour_length_filter">
                            <h6>Délka pobytu</h6>
                            <ul>
                                {% for key,len in tourLengths %}
                                <li>
                                    <label class="container_check filter" id="durGroupFilter_{{key}}">{{len}} <small>(0)</small>
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        
                        <div class="filter_type" id="sales_filter">
                            <h6>Akce a slevy</h6>
                            <ul>
                                {% for key,sale in sales %}
                                <li>
                                    <label class="container_check" id="akceFilter_{{key}}">{{sale}} <small>(0)</small>
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                            
                        <div class="filter_type" id="country_filter">
                            <h6>Cílová země</h6>
                            <ul>
                                {% for key,zeme in countries %}
                                <li>
                                    <label class="container_check filter" id="countryFilter_{{key}}">{{zeme.nazev}} <small>(0)</small>
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                            
                        
                    </div>
                    <!--/collapse -->
                </div>
                <!--/filters col-->
            </aside>
            <!-- /aside -->

            <div class="col-lg-9" id="list_sidebar">
                <div class="list-header">
                    <h3 id="nalezenoHeader">Nalezeno 0 zájezdů</h3>
                    <div class="switch-field">
                        <input type="radio" id="popular" name="listing_filter" value="popular" class="sorting-control" checked data-filter=".popular"
                            class="selected">
                        <label for="popular">Nejprodávanější</label>
                        <input type="radio" id="cheapest" name="listing_filter" value="cheapest" class="sorting-control" data-filter=".cheapest">
                        <label for="cheapest">Nejlevnější</label>
                        <input type="radio" id="closest" name="listing_filter" value="closest" class="sorting-control" data-filter=".closest">
                        <label for="closest">Nejbližší odjezd</label>
                        <input type="radio" id="latest" name="listing_filter" value="latest" class="sorting-control" data-filter=".latest">
                        <label for="latest">Nově přidané</label>
                    </div>
                   <!-- <a class="btn_map" data-toggle="collapse" href="#collapseMap" aria-expanded="false"
                        aria-controls="collapseMap" data-text-swap="Hide map" data-text-original="View on map">View on
                        map</a> -->

                </div>

                <div class="isotope-wrapper" id="tours_container">
                    {% for tour in tours %}
                        <div class="box_list isotope-item popular">
                            <div class="row no-gutters">
                                <div class="col-lg-5">
                                    <figure>
                                        <small>{{tour.type}}</small>
                                        <a href="../zajezdy/zobrazit/{{tour.escapedName}}/{{tour.id_zajezd}}">
                                            <img src="{{tour.image}}" class="img-fluid" alt="" width="800" height="533">

                                            {% if tour.priceDiscount > 0 %}
                                                <div class="price_discount_tag">
                                                    -{{tour.priceDiscount}}%
                                                </div>
                                            
                                            {% endif %}

                                            <div class="read_more"><span>Detail zájezdu</span></div>
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-lg-7">
                                    <div class="wrapper">
                                        <a href="#0" class="wish_bt"></a>
                                        <h3><a href="/zajezdy/zobrazit/{{tour.escapedName}}/{{tour.id_zajezd}}">{{tour.name}}</a></h3>
                                        <p class="tour_destination">{{tour.destination}}</p>
                                        {# <p class="dates">12. - 14.6. 2023 <small>(+5 dalších termínů)</small></p> #}
                                        <div class="tour_list_feat2">
                                            <ul>
                                                {% for feature in tour.features %}
                                                    <li>
                                                        <span><i class="fas {{feature.icon}}"></i>{{feature.text|raw}}</span>
                                                    </li>
                                                {% endfor %}
                                            
                                            </ul>
                                        </div>
                                        <p class="tour_description">{{tour.description}}</p>
                                    </div>
                                    <ul class="footer">
                                        <li>
                                            {% if tour.priceDiscount > 0 %}
                                                {% if (tour.priceOriginal - tour.price) > 0 %}
                                                    <div class="price_discount">{{tour.priceOriginal}} Kč</div>
                                                {% endif %}
                                            {% endif %}
                                            <span class="price"><strong>{{tour.price}} Kč</strong> / os.</span>
                                            
                                            
                                            <span class="dates">{{ tour.dates }} 
                                                {% if tour.totalOtherDates > 0 %}
                                                    <a href="">(+ {{ tour.totalOtherDates }} dalších termínů)</a>
                                                {% endif %}
                                            </span>
                                        <li>
                                            <a href="../zajezdy/zobrazit/{{tour.escapedName}}/{{tour.id_zajezd}}" class="btn_1">Detail zájezdu</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    <!--
                    <div class="box_list isotope-item popular">
                        <div class="row no-gutters">
                            <div class="col-lg-5">
                                <figure>
                                    <small>Historic</small>
                                    <a href="tour-detail.html"><img src="img/tour_1.jpg" class="img-fluid" alt=""
                                            width="800" height="533">
                                        <div class="read_more"><span>Read more</span></div>
                                    </a>
                                </figure>
                            </div>
                            <div class="col-lg-7">
                                <div class="wrapper">
                                    <a href="#0" class="wish_bt"></a>
                                    <h3><a href="tour-detail.html">Arc Triomphe</a></h3>
                                    <p>Dicam diceret ut ius, no epicuri dissentiet philosophia vix. Id usu zril
                                        tacimates neglegentur. Eam id legimus torquatos cotidieque, usu decore
                                        percipitur definitiones ex, nihil utinam recusabo mel no.</p>
                                    <span class="price">From <strong>$54</strong> /per person</span>
                                </div>
                                <ul>
                                    <li><i class="icon_clock_alt"></i> 1h 30min</li>
                                    <li>
                                        <div class="score"><span>Superb<em>350 Reviews</em></span><strong>8.9</strong>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    -->
                </div>
                <!-- /isotope-wrapper -->

                <p class="text-center add_top_30"><a href="#0" class="btn_1 rounded" id="loadMore">Načíst další</a></p>
            </div>
            <!-- /col -->
        </div>
        <!-- /row -->
    </div>
</div>
<!-- /bg_color_1 -->



{% endblock main %}

{% block javascripts %}
    <script src="../js/range.js"></script>
    <script>        
        //TODO: selected filters udelat pristupne zvenku = inicialni nastaveni vyhledavani
        /*var selected_filters = ["txt_Lo","minPrice_100","maxPrice_20000"];*/        
        var selected_filters = JSON.parse('{{initFilters|raw }}');
        var page = 1;
        async function getData(){
            
            var sz_res = await fetch('serial_zeme.json');
            var sz = await sz_res.json();
            
            var sd_res = await fetch('serial_destinace.json');
            var sd = await sd_res.json();
            
            var t_res = await fetch('tour_types.json');
            var t = await t_res.json();
            
            var sv_res = await fetch('sales_vol.json');
            var sv = await sv_res.json();
            /*var res = await fetch('data_group.json');*/                     
            var res = await fetch('data_group.json');
            var data = await res.json();
            data.forEach(function(elem,index,arr){
                data[index].castka = JSON.parse(data[index].castka);
                let numberArray = data[index].castka.map(Number);
                data[index].castka = numberArray;
                
                data[index].castkaMin = Math.min(...data[index].castka) /*.toString().padStart(6, '0')*/;
                data[index].id_zajezd = JSON.parse(data[index].id_zajezd);
                data[index].od = data[index].od.split(",");
                data[index].do = data[index].do.split(",");
                
                data[index].zajezdData = Array.prototype.map.call( data[index].od, function(e,i){return [e, data[index].do[i], data[index].castka[i], data[index].id_zajezd[i]];})
                                
                
                /*if (data[index].id_typ == "3" && data[index].nazev_ubytovani_web != undefined && data[index].nazev_ubytovani_web.length > 0){
                    data[index].escapedName = data[index].nazev_ubytovani_web + "-" + data[index].nazev_web;                    
                }else{
                    data[index].escapedName = data[index].nazev_web;
                }*/
                
                let sID = parseInt(elem["id_serial"]);
                if (sz[sID]!= undefined){
                    data[index].country = sz[sID]["zId"];
                    data[index].zName = sz[sID]["zName"];
                }else{
                    data[index].country = -1;
                    data[index].zName = "";
                }
                if (sv[sID]!= undefined){
                    var popularity = parseInt(sv[sID]["pocet"]) + Math.log2(sv[sID]["suma"]/1000)
                    data[index].popularity = popularity;
                }else{
                    data[index].popularity = 1;
                }
                
                if (sd[sID]!= undefined){
                    data[index].dName = sd[sID]["dName"];
                }else{
                    data[index].dName = "";
                }
                
                let tID = parseInt(elem["id_typ"]);
                if (t[tID]!= undefined){
                    data[index].tName = t[tID]["nazev_typ"];
                }else{
                    data[index].tName = "";
                }      
                
                if(elem["dlouhodobe_zajezdy"]=="1"){
                    data[index].durNights = -1;
                    data[index].durGroup = "variabilni";
                }else if(elem["od"][0] == elem["do"][0]){
                    data[index].durNights = 0;
                    data[index].durGroup = "jednodenni";
                }else{
                    var terminOd = new Date(elem["od"][0]);
                    var terminDo = new Date(elem["do"][0]);     
                    var diffDays = (terminDo.getTime() - terminOd.getTime()) / (1000 * 3600 * 24);
                    data[index].durNights = diffDays;
                    if(diffDays < 6){
                        data[index].durGroup = "1-5noci";
                    }else if(diffDays < 11){
                        data[index].durGroup = "6-10noci";                        
                    }else{
                        data[index].durGroup = "nad10noci";                        
                    }
                }

                
                //let zeme_ids = defiant.search(szSnapshot, '//*[id_serial='+id_serial+']/id_zeme');
                //let destinace_ids = defiant.search(szSnapshot, '//*[id_serial='+id_serial+']/id_destinace');
                //console.log(zeme_ids);
                
            });
            //TODO: data attribution nefunguje... mozna externi akumulator? nebo spatne props?
            return data;
        }
        
        function checkFilter(el){
            if($(el).find("input").is(":checked")){
                return $(el).attr('id');
            }
            return false;
        }
        
        function updateFilters(){
            var selected_filters = [];
            $(".filter").each(function(idx,el){
                let r = checkFilter(el);
                if(r){
                    selected_filters.push(r)
                }
            })
            
            selected_filters.push("txt_"+$("#autocomplete").val());
            selected_filters.push("minPrice_"+removeCurrency($("#range-min").val()));
            selected_filters.push("maxPrice_"+removeCurrency($("#range-max").val()));
            
            return selected_filters;
        }
        
        
        function filterZajezd(item){
            var dates = $("#datesInput").val();
            var minPrice = removeCurrency($("#range-min").val());
            var maxPrice = removeCurrency($("#range-max").val());

            var filteredZajezd = item.zajezdData
            if((typeof minPrice !== "undefined") && (typeof maxPrice !== "undefined") && parseInt(minPrice) > 0 && parseInt(maxPrice) > 0){
                let minP = parseInt(minPrice);
                let maxP = parseInt(maxPrice);
                filteredZajezd = filteredZajezd.filter((x) => x[2] >= minP && x <= maxP);
                /*priceCheck = item.castka >= parseInt(filters.minPrice[0]) && item.castka <= parseInt(filters.maxPrice[0])*/


            }else if((typeof minPrice !== "undefined") && parseInt(minPrice) > 0){
                /*priceCheck = item.castka >= parseInt(filters.minPrice[0])*/

                let minP = parseInt(minPrice);
                filteredZajezd = filteredZajezd.filter((x) => x[2] >= minP);

            }else if((typeof maxPrice !== "undefined") && parseInt(maxPrice) > 0){
                /*priceCheck = item.castka <= parseInt(filters.maxPrice[0])*/                                            
                let maxP = parseInt(maxPrice);
                filteredZajezd = filteredZajezd.filter((x) => x[2] <= maxP);
            }  

            if(dates != ""){
                //add dates filter
                var datesArr = dates.split(" > ");
                var dateFrom = datesArr[0].split("/");
                var dateTo = datesArr[1].split("/");
                var dateFromEng = "20"+dateFrom[2]+"-"+dateFrom[1]+"-"+dateFrom[0];
                var dateToEng = "20"+dateTo[2]+"-"+dateTo[1]+"-"+dateTo[0];

                if(item.durNights == -1){                                                
                    filteredZajezd = filteredZajezd.filter((x) => x[1] >= dateFromEng && x[0] <= dateToEng);
                    /*datesCheck = item.do >= dateFromEng && item.od <= dateToEng;*/
                }else{   
                    filteredZajezd = filteredZajezd.filter((x) => x[0] >= dateFromEng && x[1] <= dateToEng);
                    /*datesCheck = item.od >= dateFromEng && item.do <= dateToEng;*/
                } 
            }
            
            if(filteredZajezd.length > 0){
                return filteredZajezd[0][3];
            }else{
                return false;
            }                                   
        }
        
                                              
        async function filterData(data, selected_filters, page){
            var filters = {countryFilter:[],tourTypeFilter:[],transportFilter:[],foodFilter:[],durGroupFilter:[],txt:[],minPrice:[],maxPrice:[]}
            selected_filters.forEach(f => {
                let arr = f.split("_");
                filters[arr[0]].push(arr[1]);
            
            });
            classFilters = {}
            if( filters.tourTypeFilter.length >0){
                classFilters["id_typ"] = filters.tourTypeFilter;
            }
            if( filters.transportFilter.length >0){
                classFilters["doprava"] = filters.transportFilter;
            }
            if( filters.foodFilter.length >0){
                classFilters["strava"] = filters.foodFilter;
            }
            
            if( filters.durGroupFilter.length >0){
                classFilters["durGroup"] = filters.durGroupFilter;
            }
            if( filters.countryFilter.length >0){
                classFilters["country"] = filters.countryFilter;
            }            
            
            var sortParamInput = $('input[name="listing_filter"]:checked').val();
            var sortPar = 'termin_asc';
            if(sortParamInput == "popular"){
                var sortPar = 'popularity_desc';
            }else if(sortParamInput == "cheapest"){
                var sortPar = 'price_asc';
            }else if(sortParamInput == "closest"){
                var sortPar = 'termin_asc';
            }else if(sortParamInput == "latest"){
                var sortPar = 'zajezd_id_desc';
            }
            
            var filteredData = await data
                    .then(data => itemsjs(data, 
                    {
                        sortings: {
                          termin_asc: {
                            field: 'od',
                            order: 'asc'
                          },
                          termin_desc: {
                            field: 'od',
                            order: 'desc'
                          },
                          price_asc: {
                            field: 'castkaMin',
                            order: 'asc'
                          },
                          price_desc: {
                            field: 'castkaMin',
                            order: 'desc'
                          },     
                          zajezd_id_asc: {
                            field: 'id_zajezd',
                            order: 'asc'
                          },
                          zajezd_id_desc: {
                            field: 'id_zajezd',
                            order: 'desc'
                          },     
                          popularity_asc: {
                            field: 'popularity',
                            order: 'asc'
                          },
                          popularity_desc: {
                            field: 'popularity',
                            order: 'desc'
                          }                              
                        },
                        aggregations: {
                          id_typ: {
                            title: 'Typ zájezdu',
                            size: 15,
                            conjunction: false,
                            sort: "key",
                          },
                          strava: {
                            title: 'Typ stravování',
                            size: 10,
                            conjunction: false,
                            sort: "key",
                          },
                          doprava: {
                            title: 'Doprava',
                            size: 10,
                            conjunction: false,
                            sort: "key",
                          },   
                          durGroup: {
                            title: 'Délka pobytu',
                            size: 10,
                            conjunction: false,
                            sort: "key",
                          },      
                          country: {
                            title: 'Cílová země',
                            size: 200,
                            conjunction: false,
                            sort: "key",
                          },                           
                          ubytovani: {
                            title: 'Typ ubytování',
                            size: 10,
                            conjunction: false,
                            sort: "key",
                          }
                        },
                        searchableFields: ['nazev', 'nazev_ubytovani',"zName","dName","tName"]
                    }))
                    .then(function(ijs){ 
                        
                        return ijs.search(                                      
                                {
                                    per_page: 20,
                                    page: page,
                                    sort: sortPar,
                                    query: (typeof filters.txt[0] !== "undefined")? filters.txt[0]:"",
                                    filters: classFilters,
                                    filter: function(item) {

                                        var dates = $("#datesInput").val();
                                        var priceCheck = 1;
                                        var datesCheck = 1;
                                        var filteredZajezd = item.zajezdData
                                        if((typeof filters.minPrice[0] !== "undefined") && (typeof filters.maxPrice[0] !== "undefined") && parseInt(filters.minPrice[0]) > 0 && parseInt(filters.maxPrice[0]) > 0){
                                            let minP = parseInt(filters.minPrice[0]);
                                            let maxP = parseInt(filters.maxPrice[0]);
                                            priceCheck = item.zajezdData.some((x) => x[2] >= minP && x <= maxP);
                                            filteredZajezd = filteredZajezd.filter((x) => x[2] >= minP && x <= maxP);
                                            
                                            
                                        }else if((typeof filters.minPrice[0] !== "undefined") && parseInt(filters.minPrice[0]) > 0){
                                            
                                            
                                            let minP = parseInt(filters.minPrice[0]);
                                            priceCheck = item.zajezdData.some((x) => x[2] >= minP);
                                            filteredZajezd = filteredZajezd.filter((x) => x[2] >= minP);
                                            
                                        }else if((typeof filters.maxPrice[0] !== "undefined") && parseInt(filters.maxPrice[0]) > 0){
                                                                            
                                            let maxP = parseInt(filters.maxPrice[0]);
                                            priceCheck = item.zajezdData.some((x) => x[2] <= maxP);
                                            filteredZajezd = filteredZajezd.filter((x) => x[2] <= maxP);
                                        }  
                                        
                                        if(dates != ""){
                                            //add dates filter
                                            var datesArr = dates.split(" > ");
                                            var dateFrom = datesArr[0].split("/");
                                            var dateTo = datesArr[1].split("/");
                                            var dateFromEng = "20"+dateFrom[2]+"-"+dateFrom[1]+"-"+dateFrom[0];
                                            var dateToEng = "20"+dateTo[2]+"-"+dateTo[1]+"-"+dateTo[0];

                                            if(item.durNights == -1){                                                
                                                datesCheck = item.zajezdData.some((x) => x[1] >= dateFromEng && x[0] <= dateToEng);
                                                filteredZajezd = filteredZajezd.filter((x) => x[1] >= dateFromEng && x[0] <= dateToEng);
                                                
                                            }else{   
                                                datesCheck = item.zajezdData.some((x) => x[0] >= dateFromEng && x[1] <= dateToEng);
                                                filteredZajezd = filteredZajezd.filter((x) => x[0] >= dateFromEng && x[1] <= dateToEng);
                                                
                                            } 
                                        }
                                        if(filteredZajezd.length > 0){
                                            return true;
                                        }else{
                                            return false;
                                        }
                                        
                                       
                                       }

                                });                                
                                
                            }
                        
                    );
              
            return filteredData;            
        }
        
        async function updateEnumElement(el,prefix){
            try{
                $("#"+prefix+"_"+el.key+" small").text("("+el.doc_count+")")
                if(el.selected==false){
                   $("#"+prefix+"_"+el.key+" input").prop("checked",false) 
                }else{
                   $("#"+prefix+"_"+el.key+" input").prop("checked",true)  
                }
                if(el.doc_count <= 0){
                    $("#"+prefix+"_"+el.key).css("font-style","italic");
                    $("#"+prefix+"_"+el.key).css("color","grey");
                    $("#"+prefix+"_"+el.key+" input").prop("disabled",true)                    
                }else{
                    $("#"+prefix+"_"+el.key).css("font-style","");
                    $("#"+prefix+"_"+el.key).css("color","");
                    $("#"+prefix+"_"+el.key+" input").prop("disabled",false)                    
                                    
                }
            }catch(err){
                
            }
        }
        
        async function updatePrice(min,max){
            try{
                updateInputs({from:min, to:max});
                instance = $range.data("ionRangeSlider");
                instance.update({
                    from: min,
                    to: max
                });
            }catch(err){
                console.log(err);
            }            
        }    
        
        async function updateTextSearch(text){
            try{
                $("#autocomplete").val(text)
            }catch(err){
                console.log(err);
            }            
        }  
        async function updateTotalTours(toursVolume){
            try{
                $("#toursVolume").val("Ukázat "+toursVolume+ " zájezdů");
                $("#nalezenoHeader").html("Nalezeno "+toursVolume+" zájezdů");
                
            }catch(err){
                console.log(err);
            }            
        }  
        
        
        async function showData(filteredData,selected_filters,append){ 
            var filters = {countryFilter:[],tourTypeFilter:[],transportFilter:[],foodFilter:[],durGroupFilter:[],txt:[],minPrice:[],maxPrice:[]}
            selected_filters.forEach(f => {
                let arr = f.split("_");
                filters[arr[0]].push(arr[1]);
            
            });
            
            filteredData.then(fd => 
            {
                fd.data.aggregations.strava.buckets.forEach(el => updateEnumElement(el,"foodFilter"));
                fd.data.aggregations.doprava.buckets.forEach(el => updateEnumElement(el,"transportFilter"));
                fd.data.aggregations.id_typ.buckets.forEach(el => updateEnumElement(el,"tourTypeFilter"));
                fd.data.aggregations.durGroup.buckets.forEach(el => updateEnumElement(el,"durGroupFilter"));
                fd.data.aggregations.country.buckets.forEach(el => updateEnumElement(el,"countryFilter"));
                updatePrice(filters.minPrice,filters.maxPrice);
                updateTextSearch(filters.txt);
                updateTotalTours(fd.pagination.total);
                console.dir(fd);
                
                //load corresponding data and show them on appropriate location
                var dataAnchor = $("#tours_container");
                var toursToDisplay = fd.data.items;
                var ttdIDs = []
                var sIDs = []
                toursToDisplay.forEach(function(elem){
                    ttdIDs.push(filterZajezd(elem));
                    sIDs.push(elem.id_serial);
                });
                
                const formData = new FormData();
                formData.append("zajezdIDs", ttdIDs);  
                formData.append("serialIDs", sIDs);
                fetch("/ajax-load-data-for-vyhledat-zajezd.php", {
                    method: "POST",
                    body: formData,
                })
                .then((response) => response.text())
                .then((text) => {
                    if(append){
                       dataAnchor.append(text); 
                    }else{
                       dataAnchor.html(text); 
                    }
                    
                });
            }        
            );
        }
        
        function arraysEqual(a, b) {
            if (a === b) return true;
            if (a == null || b == null) return false;
            if (a.length !== b.length) return false;

            // If you don't care about the order of the elements inside
            // the array, you should sort both arrays here.
            // Please note that calling sort on an array will modify that array.
            // you might want to clone your array first.

            for (var i = 0; i < a.length; ++i) {
              if (a[i] !== b[i]) return false;
            }
            return true;
        }
        
        
        $(function(){
            
            var data = getData();
            var filteredData = filterData(data,selected_filters, page);
            showData(filteredData,selected_filters,false);
            
            setInterval(function(){
                var newFilters = updateFilters();
                if (!arraysEqual(newFilters,selected_filters)){
                    //filters were modified in between
                    selected_filters = newFilters;
                    var filteredData = filterData(data, selected_filters, page);
                    showData(filteredData,selected_filters,false);                      
                }
            }, 5000);
            
            
            $('input[name="dates"]').on('apply.daterangepicker', function (ev, picker) {
		$(this).val(picker.startDate.format('DD/MM/YY') + ' > ' + picker.endDate.format('DD/MM/YY'));
                page = 1;
                selected_filters = updateFilters();
                var filteredData = filterData(data, selected_filters, page);
                showData(filteredData,selected_filters,false);                        
                                        
            });
            
            $(".form-control").change(function(){
                page = 1;
                selected_filters = updateFilters();
                var filteredData = filterData(data, selected_filters, page);
                showData(filteredData,selected_filters,false);
            });
            
            $(".sorting-control").change(function(){
                page = 1;
                selected_filters = updateFilters();
                var filteredData = filterData(data, selected_filters, page);
                showData(filteredData,selected_filters,false);
            });
            
            $(".filter input").change(function(){
                page = 1;
                selected_filters = updateFilters();
                var filteredData = filterData(data, selected_filters, page);
                showData(filteredData,selected_filters,false);                
            });
            
            $("#loadMore").click(function(){
                page = page + 1;
                selected_filters = updateFilters();
                var filteredData = filterData(data, selected_filters, page);
                showData(filteredData,selected_filters,true);                
            });
            
            

            
            
        });
        
        

        
        
        
    </script>    
{% endblock javascripts %}