{% extends "_base.html.twig" %}

{% block title %}SLANtour - {{ type.name }}{% endblock title %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block main %}


<section class="hero_in tour_list search">
    <img src="../img/dovolena.png" alt="Slide background">
    <div class="wrapper">
</section>
<!--/hero_in-->

<div class="bg_color_1">

    {% include "_breadcrumbs.html.twig" %}

    <div class="collapse" id="collapseMap">
        <div id="map" class="map"></div>
    </div>
    <!-- End Map -->

    <div class="container margin_35_35">
        <div class="row">
            <aside class="col-lg-3">
                <div class="custom-search-input-2 inner-2">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Kamkoliv" id="autocomplete">
                        <i class="icon_pin_alt"></i>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="dates" placeholder="Kdykoliv">
                        <i class="icon_calendar"></i>
                    </div>
                    <input type="submit" class="btn_search" value="Ukázat 675 zájezdů">
                </div>
                <!-- /custom-search-input-2 -->
                <div id="filters_col">
                    <a data-toggle="collapse" href="#collapseFilters" aria-expanded="false"
                        aria-controls="collapseFilters" id="filters_col_bt">Filters </a>
                    <div class="collapse show" id="collapseFilters">

                        <div class="filter_type">
                            <h6>Typ Zájezdu</h6>
                            <ul>
                                {% for tourType in types %}
                                <li>
                                    <label class="container_check">{{tourType.name}} <small>(945)</small>
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        
                        <div class="filter_type">
                            <h6>Cena</h6>
                            <input type="text" id="range" name="range" value="">
                            <div class="price_inputs">
                                <input class="form-control" type="text" id="range-min">
                                <span> - </span>
                                <input class="form-control" type="text" id="range-max">

                            </div>
                        </div>

                        <div class="filter_type">
                            <h6>Doprava</h6>
                            <ul>
                                {% for transport in transports %}
                                <li>
                                    <label class="container_check">{{transport}} <small>(945)</small>
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        
                        <div class="filter_type">
                            <h6>Strava</h6>
                            <ul>
                                {% for food in foods %}
                                <li>
                                    <label class="container_check">{{food}} <small>(945)</small>
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="filter_type">
                            <h6>Délka pobytu</h6>
                            <ul>
                                {% for len in tourLenght %}
                                <li>
                                    <label class="container_check">{{len}} <small>(945)</small>
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="filter_type">
                            <h6>Akce a slevy</h6>
                            <ul>
                                {% for sale in sales %}
                                <li>
                                    <label class="container_check">{{sale}} <small>(945)</small>
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <!--/collapse -->
                </div>
                <!--/filters col-->
            </aside>
            <!-- /aside -->

            <div class="col-lg-9" id="list_sidebar">
                <div class="list-header">
                    <h3>Nalezeno 567 zájezdů</h3>
                    <div class="switch-field">
                        <input type="radio" id="all" name="listing_filter" value="all" checked data-filter="*"
                            class="selected">
                        <label for="all">Nejprodávanější</label>
                        <input type="radio" id="popular" name="listing_filter" value="popular" data-filter=".popular">
                        <label for="popular">Nejlevnější</label>
                        <input type="radio" id="latest" name="listing_filter" value="latest" data-filter=".latest">
                        <label for="latest">Nejnovější</label>
                    </div>
                    <a class="btn_map" data-toggle="collapse" href="#collapseMap" aria-expanded="false"
                        aria-controls="collapseMap" data-text-swap="Hide map" data-text-original="View on map">View on
                        map</a>

                </div>

                <div class="isotope-wrapper">
                    {% for tour in tours %}
                        <div class="box_list isotope-item popular">
                            <div class="row no-gutters">
                                <div class="col-lg-5">
                                    <figure>
                                        <small>{{tour.type}}</small>
                                        <a href="../zajezdy/zobrazit/{{tour.escapedName}}/{{tour.id_zajezd}}">
                                            <img src="{{tour.image}}" class="img-fluid" alt="" width="800" height="533">

                                            {% if tour.priceDiscount > 0 %}
                                                <div class="price_discount_tag">
                                                    -{{tour.priceDiscount}}%
                                                </div>
                                            
                                            {% endif %}

                                            <div class="read_more"><span>Read more</span></div>
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-lg-7">
                                    <div class="wrapper">
                                        <a href="#0" class="wish_bt"></a>
                                        <h3><a href="/zajezdy/zobrazit/{{tour.escapedName}}/{{tour.id_zajezd}}">{{tour.name}}</a></h3>
                                        <p>{{tour.destination}}</p>
                                        
                                        <div class="tour_list_feat">
                                            <ul>
                                                {% for feature in tour.features %}
                                                    <li><span><i class="fas {{feature.icon}}"></i></span>{{feature.text|raw}}</li>
                                                    
                                                {% endfor %}
                                            
                                            </ul>
                                        </div>
                                    </div>
                                    <ul class="footer">
                                        <li>
                                            {% if tour.priceDiscount > 0 %}
                                                <div class="price_discount">{{tour.priceOriginal}} Kč</div>
                                            {% endif %}
                                            <span class="price">od <strong>{{tour.price}} Kč</strong> / os.</span>
                                        <li>
                                            <a href="../zajezdy/zobrazit/{{tour.escapedName}}/{{tour.id_zajezd}}" class="btn_1">Detail zájezdu</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    {% for tour in tours %}
                        <div class="box_list isotope-item popular">
                            <div class="row no-gutters">
                                <div class="col-lg-5">
                                    <figure>
                                        <small>{{tour.type}}</small>
                                        <a href="../zajezdy/zobrazit/{{tour.escapedName}}/{{tour.id_zajezd}}">
                                            <img src="{{tour.image}}" class="img-fluid" alt="" width="800" height="533">

                                            {% if tour.priceDiscount > 0 %}
                                                <div class="price_discount_tag">
                                                    -{{tour.priceDiscount}}%
                                                </div>
                                            
                                            {% endif %}

                                            <div class="read_more"><span>Read more</span></div>
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-lg-7">
                                    <div class="wrapper">
                                        <a href="#0" class="wish_bt"></a>
                                        <h3><a href="/zajezdy/zobrazit/{{tour.escapedName}}/{{tour.id_zajezd}}">{{tour.name}}</a></h3>
                                        <p>{{tour.destination}}</p>
                                        
                                        <div class="tour_list_feat2">
                                            <ul>
                                                {% for feature in tour.features %}
                                                    <li>
                                                        <span><i class="fas {{feature.icon}}"></i>{{feature.text|raw}}</span>
                                                    </li>
                                                {% endfor %}
                                            
                                            </ul>
                                        </div>
                                    </div>
                                    <ul class="footer">
                                        <li>
                                            {% if tour.priceDiscount > 0 %}
                                                <div class="price_discount">{{tour.priceOriginal}} Kč</div>
                                            {% endif %}
                                            <span class="price">od <strong>{{tour.price}} Kč</strong> / os.</span>
                                        <li>
                                            <a href="../zajezdy/zobrazit/{{tour.escapedName}}/{{tour.id_zajezd}}" class="btn_1">Detail zájezdu</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endfor %}


                    <div class="box_list isotope-item popular">
                        <div class="row no-gutters">
                            <div class="col-lg-5">
                                <figure>
                                    <small>Historic</small>
                                    <a href="tour-detail.html"><img src="img/tour_1.jpg" class="img-fluid" alt=""
                                            width="800" height="533">
                                        <div class="read_more"><span>Read more</span></div>
                                    </a>
                                </figure>
                            </div>
                            <div class="col-lg-7">
                                <div class="wrapper">
                                    <a href="#0" class="wish_bt"></a>
                                    <h3><a href="tour-detail.html">Arc Triomphe</a></h3>
                                    <p>Dicam diceret ut ius, no epicuri dissentiet philosophia vix. Id usu zril
                                        tacimates neglegentur. Eam id legimus torquatos cotidieque, usu decore
                                        percipitur definitiones ex, nihil utinam recusabo mel no.</p>
                                    <span class="price">From <strong>$54</strong> /per person</span>
                                </div>
                                <ul>
                                    <li><i class="icon_clock_alt"></i> 1h 30min</li>
                                    <li>
                                        <div class="score"><span>Superb<em>350 Reviews</em></span><strong>8.9</strong>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- /isotope-wrapper -->

                <p class="text-center add_top_30"><a href="#0" class="btn_1 rounded">Load more</a></p>
            </div>
            <!-- /col -->
        </div>
        <!-- /row -->
    </div>
</div>
<!-- /bg_color_1 -->



{% endblock main %}

{% block javascripts %}
    <script src="../js/range.js"></script>
{% endblock javascripts %}