{% extends "_base.html.twig" %}

{% block title %}SLANtour - vyhledávaní zájezdů{% endblock title %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block main %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>

<script src="/node_modules/itemsjs/dist/itemsjs.js"></script>
<section class="hero_in tour_list search">
    <img src="../img/dovolena.png" alt="Slide background">
    <div class="wrapper">
</section>
<!--/hero_in-->

<div class="bg_color_1">

    {% include "_breadcrumbs.html.twig" %}

    <div class="collapse" id="collapseMap">
        <div id="map" class="map"></div>
    </div>
    <!-- End Map -->

    <div class="container margin_35_35">
        <div class="row">
            <aside class="col-lg-3">
                <div class="custom-search-input-2 inner-2">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Kamkoliv" id="autocomplete" value="{{ txt }}">
                        <i id="whereIcon" class="icon_pin_alt"></i>
                        <span id="clearIcon" class="clear-icon"><i class="fas fa-x"></i> </span>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" id="datesInput" name="dates" placeholder="Kdykoliv" value="{{ dates }}">
                        <i class="icon_calendar"></i>
                    </div>
                    {# <input type="submit" class="btn_search" id="toursVolume" value="Načítání dat..."> #}
                </div>
                <!-- /custom-search-input-2 -->
                <div id="filters_col">
                    
                    <a data-toggle="collapse" href="#tour_type_filter" aria-expanded="false" aria-controls="tour_type_filter" class="filter_type_header">Typ Zájezdu</a>
                    <div class="filter_type collapse show" id="tour_type_filter">
                        <ul>
                            {% for tourType in types %}
                            <li>
                                <label class="container_check filter" id="tourTypeFilter_{{tourType.id}}">{{tourType.name}} <small>(0)</small>
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    
                    <a data-toggle="collapse" href="#price_filter" aria-expanded="false" aria-controls="price_filter" class="filter_type_header">Cena</a>
                    <div class="filter_type collapse show" id="price_filter">
                        <input type="text" id="range" name="range" value="">
                        <div class="price_inputs">
                            <input class="form-control" type="text" id="range-min">
                            <span> - </span>
                            <input class="form-control" type="text" id="range-max">

                        </div>
                    </div>

                        <!--
                    <a data-toggle="collapse" href="#sales_filter" aria-expanded="false" aria-controls="sales_filter" class="filter_type_header">Akce a slevy</a>
                    <div class="filter_type collapse show" id="sales_filter">
                        <ul>
                            {% for key,sale in sales %}
                            <li>
                                <label class="container_check" id="akceFilter_{{key}}">{{sale}} <small>(0)</small>
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                        -->
                    
                    <a data-toggle="collapse" href="#country_filter" aria-expanded="false" aria-controls="country_filter" class="filter_type_header">Země</a>
                    <div class="filter_type collapse show" id="country_filter"> 
                        <ul>
                            {% for key,zeme in countries %}
                            <li>
                                <label class="container_check filter" id="countryFilter_{{key}}">{{zeme.nazev}} <small>(0)</small>
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>


                    <a id="katalog_filter_header" data-toggle="collapse" href="#katalog_filter" aria-expanded="false" aria-controls="katalog_filter" class="filter_type_header collapsed">Destinace a ubytování</a>
                    <div class="filter_type collapse" id="katalog_filter">
                        <ul>
                            {% for key_zeme,zeme in katalog %}
                                <li class="katalog_zeme" id="katalog_zeme_{{zeme|first|first.id_zeme}}"><span>{{ key_zeme }}</span>
                                    <ul>
                                        {% for key_destinace,destinace in zeme %}
                                            {% if destinace|first.id_destinace > 0 %}                                                
                                                <li class="katalog_destinace" id="katalog_destinace_{{destinace|first.id_destinace}}">
                                                    <label class="container_check destinace" id="katalogFilter_{{destinace|first.id_destinace}}">{{ key_destinace }}
                                                        <input type="checkbox"/> 
                                                        <span class="checkmark"></span>
                                                    </label>
                                                    <ul class="ubyt">
                                                        {% for ubyt in destinace %}
                                                            <li class="katalog_objekt" id="katalog_objekt_{{ubyt.id_final}}">
                                                                {# <img src="{{ubyt.foto_url}}" title="{{ubyt.nazev_final}}" width="30" style="float:left;clear:left"> #}
                                                                <label class="container_check filter" id="katalogFilter_{{ubyt.id_final}}">{{ubyt.nazev_final}}
                                                                    <input type="checkbox"/> 
                                                                    <span class="checkmark"></span>
                                                                </label>
                                                            </li>
                                                        {% endfor %}    
                                                    </ul>
                                                </li>
                                            {% else %}
                                                {% for ubyt in destinace %}
                                                    <li class="katalog_objekt" id="katalog_objekt_{{ubyt.id_final}}">
                                                        {# <img src="{{ubyt.foto_url}}" title="{{ubyt.nazev_final}}" width="30" style="float:left;clear:left"> #}
                                                        <label class="container_check filter" id="katalogFilter_{{ubyt.id_final}}">{{ubyt.nazev_final}}
                                                            <input type="checkbox"/> 
                                                            <span class="checkmark"></span>
                                                        </label>
                                                    </li>
                                                 {% endfor %}    
                                            {% endif %}
                                                
                                           
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}
                        </ul>
                    </div> 

                    <a data-toggle="collapse" href="#transport_filter" aria-expanded="false" aria-controls="transport_filter" class="filter_type_header">Doprava</a>
                    <div class="filter_type collapse show" id="transport_filter">
                        <ul>
                            {% for key,transport in transports %}
                            <li>
                                <label class="container_check filter" id="transportFilter_{{key}}">{{transport}} <small>(0)</small>
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    
                    <a data-toggle="collapse" href="#food_filter" aria-expanded="false" aria-controls="food_filter" class="filter_type_header collapsed">Strava</a>
                    <div class="filter_type collapse" id="food_filter">
                        <ul>
                            {% for key,food in foods %}
                            <li>
                                <label class="container_check filter" id="foodFilter_{{key}}">{{food}} <small>(0)</small>
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <a data-toggle="collapse" href="#tour_length_filter" aria-expanded="false" aria-controls="tour_length_filter" class="filter_type_header collapsed">Délka pobytu</a>
                    <div class="filter_type collapse" id="tour_length_filter">
                        <ul>
                            {% for key,len in tourLengths %}
                            <li>
                                <label class="container_check filter" id="durGroupFilter_{{key}}">{{len}} <small>(0)</small>
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                        
                    <a data-toggle="collapse" href="#country_filter_special" aria-expanded="false" aria-controls="country_filter_special" class="filter_type_header collapsed">Tematické zájezdy</a>
                    <div class="filter_type collapse" id="country_filter_special">
                        <ul>
                            {% for key,sport in sports %}
                            <li>
                                <label class="container_check filter" id="countryFilter_{{key}}">{{sport.nazev}} <small>(0)</small>
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>    
                            
                </div>
                <!--/filters col-->
            </aside>
            <!-- /aside -->

            <div class="col-lg-9" id="list_sidebar">
                <div class="list-header">
                    <h4 id="nalezenoHeader">Nalezeno 0 zájezdů</h4>
                    <div class="switch-field">
                        <input type="radio" id="popular" name="listing_filter" value="popular" class="sorting-control" checked data-filter=".popular"
                            class="selected">
                        <label for="popular">Nejprodávanější</label>
                        <input type="radio" id="cheapest" name="listing_filter" value="cheapest" class="sorting-control" data-filter=".cheapest">
                        <label for="cheapest">Nejlevnější</label>
                        <input type="radio" id="closest" name="listing_filter" value="closest" class="sorting-control" data-filter=".closest">
                        <label for="closest">Nejbližší odjezd</label>
                        <input type="radio" id="latest" name="listing_filter" value="latest" class="sorting-control" data-filter=".latest">
                        <label for="latest">Nově přidané</label>
                    </div>
                   <a class="btn_map" data-toggle="collapse" href="#collapseMap" aria-expanded="false"
                        aria-controls="collapseMap" data-text-swap="Zavřít mapu" data-text-original="Zobrazit na mapě">Zobrazit na mapě</a>

                </div>
                
                <div id="selected-filters-widget">
                    <ul id="filters-list"></ul>
                </div>

                <div class="isotope-wrapper" id="tours_container">
                    
                </div>
                <!-- /isotope-wrapper -->

                <p class="text-center add_top_30"><a href="#0" class="btn_1 rounded" id="loadMore">Načíst další</a></p>
            </div>
            <!-- /col -->
        </div>
        <!-- /row -->
    </div>
</div>
<!-- /bg_color_1 -->



{% endblock main %}

{% block javascripts %}
    <script src="../js/range.js"></script>
    <script src="../js/map_hotels.js"></script>
    <script>
        var selected_filters = JSON.parse('{{initFilters|raw }}');
    </script>
    <script src="../js/tour_search.js"></script>
{% endblock javascripts %}