{% extends "_base.html.twig" %}

{% block title %}SLANtour - 
	{% if continentName == "evropa" %}
		Evropské země
    {% elseif continentName == "svet" %}
        Svět
    {% elseif continentName == "sport" %}
        Sporty
	{% elseif continentName == "zeme-seznam" %}
		Země
    {% endif %}

{% endblock title %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block main %}


<section class="hero_in tour_list">
    <img src="../img/dovolena.png" alt="Slide background">
    <div class="wrapper">
        <div class="container">
            <h1 class="fadeInUp"><span></span>
				{% if continentName == "evropa" %}
					Evropské země
                {% elseif continentName == "svet" %}
                    Svět
                {% elseif continentName == "sport" %}
                    Sporty
				{% elseif continentName == "zeme-seznam" %}
					Země
                {% endif %}
			</h1>
        </div>
    </div>
</section>
<!--/hero_in-->

<div class="bg_color_1">

    {% include "_breadcrumbs.html.twig" %}

    <div class="container margin_35_35">
        <div class="row">
			{% for country in countries %}
			<div class="col-xl-3 col-lg-6 col-md-6">
				<a href="{{ country.url }}" class="grid_item">
					<figure>
						<img src="{{ country.image }}" class="img-fluid" alt="">
						<div class="info">
							<h3>{{country.name}}</h3>
							{{country.numberOfTours}} zájezdů od {{country.priceFrom}} Kč
						</div>
					</figure>
				</a>
			</div>
			<!-- /grid_item -->
			{% endfor %}
		</div>
    </div>
    <!-- /container -->
</div>
<!-- /bg_color_1 -->



{% endblock main %}

{% block javascripts %}

{% endblock javascripts %}