{% extends "_base.html.twig" %}

{% block title %}SLANtour - {{ destination.name }}{% endblock title %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block main %}


<section class="hero_in tour_list">
    <img src="{{ destination.image }}" alt="{{ destination.name }}">
    <div class="wrapper">
        <div class="container">
            <h1 class="fadeInUp"><span></span>{{ destination.name }}</h1>
        </div>
    </div>
</section>
<!--/hero_in-->

<div class="bg_color_1">

    {% include "_breadcrumbs.html.twig" %}

    <div class="container margin_35_35">
        {% if destination.description %}
        
        <section>
            <h2>Popis země</h2>
            <p class="main_description">{{ destination.description|raw }}</p>

        </section>
        {% endif %}
        <!-- /section -->
        {% include "_tour-lists.html.twig" %}
    </div>
    <!-- /container -->
</div>
<!-- /bg_color_1 -->



{% endblock main %}

{% block javascripts %}

{% endblock javascripts %}